{% load i18n humanize %}

<div class="input-group">
  <label class="input-group-text" for='id_date_from'>{% translate "Date (From)" %}</label>
  <input class="form-control" type="text" name="date_from" value="{{ query_params.filtering.created__gte }}" id="id_date_from" />
  <label class="input-group-text" for='id_date_to'>{% translate "Date (To)" %}</label>
  <input class="form-control" type="text" name="date_to" value="{{ query_params.filtering.created__lte }}" id="id_date_to" />
  <button class="filterBuilderRemove btn btn-outline-secondary">
    <i class="fa fa-trash-can"></i>
  </button>
</div>
<div class="form-text">{% translate "Use YYYY-MM-DD date format, eg 2018-01-30" %}</div>
