{% load i18n humanize static in_list %}

<div class="d-grid">
  <button class="btn btn-light"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsePriority"
          aria-expanded="false"
          aria-controls="collapsePriority">{% translate "Priority" %}</button>
</div>
<div class="collapse my-3" id="collapsePriority">
  {% for p in priority_choices %}
    <div class="form-check">
      <input class="form-check-input"
             type="checkbox"
             name="priority"
             value="{{ p.0 }}"
             id="priority-check-{{ p.0 }}"
             {% if p.0|in_list:query_params.filtering.priority__in %}checked{% endif %} />
      <label class="form-check-label" for="priority-check-{{ p.0 }}">{{ p.1 }}</label>
    </div>
  {% endfor %}
</div>
