{% load static i18n humanize in_list %}

<div class="d-grid">
  <button class="btn btn-light"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseQueue"
          aria-expanded="false"
          aria-controls="collapseQueue">{% translate "Queue" %}</button>
</div>
<div class="collapse my-3"id="collapseQueue">
  {% with unassigned=-1 %}
    <div class="form-check">
      <input class="form-check-input"
             type="checkbox"
             name="queue"
             value="{{ unassigned }}"
             id="queue-check-{{ unassigned }}"
             {% if query_params.filtering_null.queue__id__isnull %}checked{% endif %} />
      <label class="form-check-label" for="owner-check-{{ unassigned }}">{% translate "Unassigned" %}</label>
    </div>
  {% endwith %}
  {% for q in queue_choices %}
    <div class="form-check">
      <input class="form-check-input"
             type="checkbox"
             name="queue"
             value="{{ q.id }}"
             id="queue-check-{{ q.id }}"
             {% if q.id|in_list:query_params.filtering.queue__id__in %}checked{% endif %} />
      <label class="form-check-label" for="queue-check-{{ q.id }}">{{ q.title }}</label>
    </div>
  {% endfor %}
</div>
