{% extends "helpdesk/base.html" %}

{% load i18n %}

{% block helpdesk_title %}
  {% translate "Change password" %}
{% endblock helpdesk_title %}

{% block body %}
  <div class="container-fluid">
    <div class="row align-items-center mt-3">
      <div class="col-12 col-md-6 col-lg-3 mx-auto">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">{% translate "Success!" %}</h4>
          <p>{% translate "Your password has been changed successfully." %}</p>
          <hr />
          <a href="{% url 'helpdesk:home' %}" class="alert-link">{% translate "Go back home" %}</a>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}
