{% extends "helpdesk/public_base.html" %}

{% load i18n static %}

{% block helpdesk_title %}
  {% translate "Logged Out" %}
{% endblock helpdesk_title %}

{% block body %}
  <div class="container-fluid">
    <div class="row align-items-center vh-100">
      <div class="col-12 col-md-6 col-lg-3 mx-auto">
        <div class="text-center mb-4">
          <img src="{% static "helpdesk/img/icon.svg" %}" alt="Django helpdesk logo" width="48" height="48" />
        </div>
        <div class="card">
          <div class="card-body m-3">
            <h5 class="text-center py-3">{% translate "Logout successful" %}</h5>
            <div class="d-grid gap-3 py-3">
              <a class="btn btn-outline-primary" href="{% url 'helpdesk:login' %}">
                <i class="fas fa-fw fa-sign-in-alt"></i>
                {% translate "Log In" %}
              </a>
              <a href="/" class="btn btn-secondary">{% translate "Take me home" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
