{% extends "helpdesk/base.html" %}

{% load i18n static bootstrap5_form %}

{% block helpdesk_title %}
  {% translate "Password reset" %}
{% endblock helpdesk_title %}

{% block body %}
  <div class="container-fluid">
    <div class="row align-items-center vh-100">
      <div class="col-12 col-md-6 col-lg-3 mx-auto">
        <div class="text-center mb-4">
          <img src="{% static "helpdesk/img/icon.svg" %}" alt="Django helpdesk logo" width="48" height="48" />
        </div>
        <div class="card">
          <div class="card-body m-3">
            <h5 class="text-center py-3">{% translate "Password reset" %}</h5>
            <p class="text-body-secondary">
              {% translate "Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one." %}
            </p>
            <form method="post">
              {% csrf_token %}
              {% bootstrap5_form form %}
              <div class="d-grid gap-3 py-3">
                <button type="submit" class="btn btn-primary">{% translate "Reset my password" %}</button>
              </div>
            </form>
          </div>
        </div>
        <div class="py-3 text-center">
          <a href="{% url 'helpdesk:home' %}">{% translate "Take me back" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
