{# djlint:off #}{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because a password reset was requested for your account at {{ site_name }}.{% endblocktranslate %}

{% translate "Please visit the following page to choose a new password:" %}

{{ protocol }}://{{ domain }}{% url 'helpdesk:password_reset_confirm' uidb64=uid token=token %}

{% translate "If you didn't request a password reset, you can safely ignore this email. Your password will not be changed." %}

{% translate "Thanks," %}
{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}
{% endautoescape %}
{# djlint:on #}
