{% extends "helpdesk/base.html" %}

{% load i18n static %}

{% block helpdesk_title %}
  {% translate "Password reset" %}
{% endblock helpdesk_title %}

{% block body %}
  <div class="container-fluid">
    <div class="row align-items-center vh-100">
      <div class="col-12 col-md-6 col-lg-3 mx-auto">
        <div class="text-center mb-4">
          <img src="{% static "helpdesk/img/icon.svg" %}" alt="Django helpdesk logo" width="48" height="48" />
        </div>
        <div class="card">
          <div class="card-body m-3">
            <h5 class="text-center pb-3">{% translate "Password reset" %}</h5>
            <p class="text-body-secondary">
              {% translate "We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
            </p>
            <p class="text-body-secondary">
              {% translate "If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder." %}
            </p>
            <a href="{% url 'helpdesk:home' %}" class="btn btn-primary w-100">{% translate "Take me Home" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
