{% extends "helpdesk/base.html" %}

{% load i18n static %}

{% block helpdesk_title %}
  {% translate "Password reset complete" %}
{% endblock helpdesk_title %}

{% block body %}
  <div class="container-fluid">
    <div class="row align-items-center vh-100">
      <div class="col-12 col-md-6 col-lg-3 mx-auto">
        <div class="text-center mb-4">
          <img src="{% static "helpdesk/img/icon.svg" %}" alt="Django helpdesk logo" width="48" height="48" />
        </div>
        <div class="card">
          <div class="card-body m-3">
            <h5 class="text-center py-3">{% translate "Password reset successful!" %}</h5>
            <p class="text-body-secondary text-center">{% translate "Your password has been set. You may go ahead and log in now." %}</p>
            <div class="d-grid gap-3 py-3">
              <a class="btn btn-primary" href="{{ login_url }}">{% translate "Log in" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
