
{% extends "helpdesk/base.html" %}

{% load i18n static %}

{% block helpdesk_title %}
  {% translate "Password reset" %}
{% endblock helpdesk_title %}

{% block body %}
  <div class="container-fluid">
    <div class="row align-items-center vh-100">
      <div class="col-12 col-md-6 col-lg-3 mx-auto">
        <div class="text-center mb-4">
          <img src="{% static "helpdesk/img/icon.svg" %}" alt="Django helpdesk logo" width="48" height="48" />
        </div>
        <div class="card">
          <div class="card-body m-3">
            {% if validlink %}
              <h5 class="text-center pb-3">{% translate "Set new password" %}</h5>
              <p class="text-body-secondary">
                {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}
              </p>
              <form method="post">
                {% csrf_token %}
                <input class="visually-hidden" autocomplete="username" value="{{ form.user.get_username }}" />
                <div class="mb-3">
                  <label class="form-label" for="id_new_password1">{% translate "New password" %}</label>
                  {% if form.new_password1.errors %}
                    <div class="form-text text-danger">{{ form.new_password1.errors }}</div>
                  {% endif %}
                  {{ form.new_password1 }}
                </div>
                <div class="mb-3">
                  <label class="form-label" for="id_new_password2">{% translate "Confirm password" %}</label>
                  {{ form.new_password2 }}
                  {% if form.new_password2.errors %}
                    <div class="form-text text-danger">{{ form.new_password2.errors }}</div>
                  {% endif %}
                </div>
                <div class="d-grid gap-3 py-3">
                  <button type="submit" class="btn btn-primary">{% translate "Change my password" %}</button>
                </div>
              </form>
            {% else %}
              <p class="text-body-secondary">
                {% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
{% block helpdesk_js %}
  <script>
    const add_form_classes = () => {
      const password1 = document.querySelector('#id_new_password1');
      const password2 = document.querySelector('#id_new_password2');
      password1.classList.add('form-control');
      password2.classList.add('form-control');
    }
    document.addEventListener("DOMContentLoaded", add_form_classes);
  </script>
{% endblock helpdesk_js %}
