include README.rst
include UPGRADE
include LICENSE*
include requirements.txt

recursive-include helpdesk/static/helpdesk *
recursive-include helpdesk/locale *.po *.mo
recursive-include helpdesk/templates *
recursive-include helpdesk/fixtures *.json
recursive-include docs/html *
