include README.rst
include CONTRIBUTING.rst
include AUTHORS
include LICENSE*
include requirements.txt
include requirements-testing.txt

recursive-include helpdesk/static/helpdesk *
recursive-include helpdesk/locale *.po *.mo
recursive-include helpdesk/templates *
recursive-include helpdesk/fixtures *.json
recursive-include docs/html *
recursive-include demo *
