Django>=2.2
django-bootstrap4-form
celery
-e git+ssh://git@github.com/celery/django-celery-beat.git@master#egg=django_celery_beat
email-reply-parser
akismet
markdown
beautifulsoup4
lxml
simplejson
pytz
six
pinax_teams
djangorestframework
django-model-utils
