Django>=3.2
django-bootstrap4-form
celery
email-reply-parser
akismet
markdown
beautifulsoup4
lxml
pytz
pinax_teams
djangorestframework
django-model-utils
django-cleanup
oauthlib
requests_oauthlib
requests
