{% extends "helpdesk/base.html" %}
{% block helpdesk_title %}Helpdesk Login{% endblock %}

{% block helpdesk_body %}
<h2>Login</h2>

<p>To log in and begin responding to cases, simply enter your username and password below.</p>

<form method='post' action='./'>
    {% if form.has_errors %}<p>Your username and password didn't match. Please try again.</p>{% endif %}
    <dl>
        <dt><label>Username</label></dt>
        <dd>{{ form.username }}</dd>
        <dt><label>Password</label></dt>
        <dd>{{ form.password }}</dd>
    </dl>
    <input type='submit' value='Login' />
    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}../{% endif %}" />
</form>
{% endblock %}
