{% extends "helpdesk/emails/base.html" %}

{% block header %}Ticket Updated{% endblock %}

{% block content %}
<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>Hello,</p>

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>Ticket <a href='{{ ticket.staff_url }}'>{{ ticket.ticket }}</a> (<em>{{ ticket.title }}</em>), which is assigned  to you, has been updated.</p>

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>The following comment was added to ticket <b>{{ ticket.ticket }}</b>:</p>

<blockquote style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt; padding-left: 20px; border-left: solid #ccc 2px;'>{{ comment }}</blockquote>

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>This information has {% if private %}not {% endif %} been e-mailed to the submitter.</p>

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>If you wish to view this ticket online, you can visit <a href="{{ ticket.staff_url }}">{{ ticket.staff_url }}</a>.</p>

{% endblock %}
