{% extends "helpdesk/emails/base.html" %}

{% block header %}Your Ticket Has Been Escalated{% endblock %}

{% block content %}
<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>Hello,</p>

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>You recently logged a ticket with a subject of <i>{{ ticket.title }}</i> with us. This e-mail is to advise you of an automated escalation of that ticket.</p>

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>We will review your ticket shortly and attempt to provide a resolution as soon as possible.</p>

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>If you wish to view this ticket online, you can visit <a href="{{ ticket.get_ticket_url }}">{{ ticket.get_ticket_url }}</a>.</p>

{% endblock %}
