<h1 style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 14pt; color: #6593C0'>
    {% block header %}
        <a href="{% url 'helpdesk:home' %}">Service support ipexia</a>
    {% endblock %}
</h1>

<h3 style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 12pt; color: #6593C0'>
    {% block title %}{% endblock %}
</h3>

{% block content %}{% endblock %}

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>Cordialement,</p>

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>
    <b>{{ queue.title }}</b>
    {% if queue.email_address %}<br><a href='mailto:{{ queue.email_address }}'>{{ queue.email_address }}</a>{% endif %}
    {% if queue.phone_number %}<br>{% include 'base/components/phone_number_link.html' with phone_number=queue.phone_number %}{% endif %}
</p>
    
<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 9pt; color: #808080;'>
    Vous recevez cet email car vous êtes utilisateur de notre service support. Merci de nous informer si vous pensez que ce message ne vous était pas destiné.
</p>
