{% extends "helpdesk/base.html" %}

{% load i18n %}

{% block helpdesk_title %}{% trans "Delete Checklist" %}{% endblock %}

{% block helpdesk_breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'helpdesk:list' %}">{% trans "Tickets" %}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'helpdesk:list' %}{{ ticket.id }}/">{{ ticket.queue.slug }}-{{ ticket.id }}</a>
    </li>
    <li class="breadcrumb-item active">{{ checklist.name }}</li>
{% endblock %}

{% block helpdesk_body %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h2>
                        {% trans "Delete Checklist" %}
                    </h2>
                </div>
                <div class="card-body">
                    <form method='post'>
                        {% csrf_token %}
                        <p>{% trans "Are you sure your want to delete checklist" %} {{ checklist.name }} ?</p>
                        <div class='buttons form-group text-center'>
                            <a class="btn btn-secondary" href='{{ ticket.get_absolute_url }}'>
                                <i class="fas fa-times"></i>
                                {% trans "Don't Delete" %}
                            </a>
                            <button type='submit' class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                                {% trans "Yes, I Understand - Delete" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
