{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_breadcrumb %}
<li class="breadcrumb-item">
    <a href="#">Tickets</a>
</li>
<li class="breadcrumb-item active">{% trans "Delete Saved Query" %}</li>
{% endblock %}

{% block helpdesk_title %}{% trans "Delete Saved Query" %}{% endblock %}

{% block helpdesk_body %}
<h2>{% trans "Delete Query" %}</h2>

<p>{% blocktrans with query.title as query_title  %}Are you sure you want to delete this saved filter (<em>{{ query_title }}</em>)? To re-create it, you will need to manually re-filter your ticket listing.{% endblocktrans %}</p>

{% if query.shared %}
<p>{% blocktrans %}You have shared this query, so other users may be using it. If you delete it, they will have to manually create their own query.{% endblocktrans %}</p>
{% endif %}

<p><a href='{% url 'helpdesk:list' %}?saved_query={{ query.id }}'><button class="btn btn-primary btn-lg">{% trans "No, Don't Delete It" %}</button></a></p>

<form method='post' action='./'>{% csrf_token %}
    <button class="btn btn-danger" type='submit'>{% trans "Yes I Understand - Delete It Anyway" %}</button>
</form>


{% endblock %}
