{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Delete Ignored E-Mail Address" %}{% endblock %}

{% block helpdesk_body %}
<h2>{% trans "Un-Ignore E-Mail Address" %}</h2>

<p>{% blocktrans with ignore.email_address as email_address %}Are you sure you wish to stop removing this email address (<em>{{ email_address }}</em>) and allow their e-mails to automatically create tickets in your system? You can re-add this e-mail address at any time.{% endblocktrans %}</p>

<p><a href='../../'>{% trans "Keep Ignoring It" %}</a></p>

<form method='post' action='./'><input class="btn btn-primary" type='submit' value='{% trans "Stop Ignoring It" %}' />{% csrf_token %}</form>
{% endblock %}
