{% extends "helpdesk/base.html" %}{% load i18n bootstrap4form %}

{% block helpdesk_title %}{% trans "Ignore Email Address" %}{% endblock %}

{% block helpdesk_breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'helpdesk:system_settings' %}">{% trans "System Settings" %}</a>
</li>
<li class="breadcrumb-item active">
    <a href="{% url 'helpdesk:email_ignore' %}">{% trans "Ignored Email Addresses" %}</a>
</li>
<li class="breadcrumb-item active">{% trans "Ignore Email Address" %}</li>
{% endblock %}

{% block helpdesk_body %}
<h2>{% trans "Ignore Email Address" %}</h2>

<p>{% blocktrans %}To ignore an email address and prevent any emails from that address creating tickets automatically, enter the e-mail address below.{% endblocktrans %}</p>

<p>{% blocktrans %}You can either enter a whole email address such as <em>email@domain.com</em> or a portion of an email address with a wildcard, such as <em>*@domain.com</em> or <em>user@*</em>.{% endblocktrans %}</p>

<form method='post' action='.' name="email_ignore_form">
    {{ form.non_field_errors }}
    <fieldset>
        {{ form|bootstrap4form}}
    </fieldset>
    <p><input class="btn btn-primary" type="submit" value="Submit"></p>{% csrf_token %}
</form>

{% endblock %}
