{% extends "helpdesk/base.html" %}

{% load static avatar_tags %}

{% block h1_title %}Enquêtes de satisfaction{% endblock %}

{% block helpdesk_head %}
    {{ filter.form.media.css }}
{% endblock %}

{% block helpdesk_body %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des réponses aux enquêtes de satisfaction</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-10 col-xs-12">
                    <div class="well">
                        <form method="get">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12 form-group">
                                    {{ filter.form.tickets.label_tag }}
                                    {{ filter.form.tickets }}
                                    {{ filter.form.tickets.errors }}
                                </div>
                                <div class="col-sm-3 col-xs-12 form-group">
                                    {{ filter.form.assigned_to.label_tag }}
                                    {{ filter.form.assigned_to }}
                                    {{ filter.form.assigned_to.errors }}
                                </div>
                                <div class="col-sm-4 col-xs-12 form-group">
                                    {{ filter.form.created_between.label_tag }}<br>
                                    {{ filter.form.created_between }}
                                    {{ filter.form.created_between.errors }}
                                </div>
                                <div class="col-sm-2 col-xs-12 form-group">
                                    {{ filter.form.score.label_tag }}
                                    {{ filter.form.score }}
                                    {{ filter.form.score.errors }}
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">
                                    Filtrer
                                    <i class="fa fa-filter"></i>
                                </button>
                                <a href="{% url 'helpdesk:feedback_survey_list' %}" class="btn btn-default">
                                    Effacer les filtres
                                    <i class="fa fa-eraser"></i>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <strong>Statistiques :</strong>
                    <canvas id="doughnutChart"></canvas>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Note</th>
                            <th class="text-center">Date</th>
                            <th>Ticket</th>
                            <th>Assigné à</th>
                            <th>Auteur</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for feedback_survey in feedback_surveys %}
                            <tr>
                                <td class="text-center">
                                    {% if feedback_survey.score == 2 %}
                                        <img src="{% static 'helpdesk/img/thumb_up.png' %}" alt="Emoji Content" title="Très bon" width="30px">
                                    {% elif feedback_survey.score == 1 %}
                                        <img src="{% static 'helpdesk/img/thumb_middle.png' %}" alt="Emoji Neutre" title="Moyen" width="30px">
                                    {% elif feedback_survey.score == 0 %}
                                        <img src="{% static 'helpdesk/img/thumb_down.png' %}" alt="Emoji Mécontent" title="À améliorer" width="30px">
                                    {% endif %}
                                </td>
                                <td class="text-center">{{ feedback_survey.created_at }}</td>
                                <td>
                                    <a href="{{ feedback_survey.ticket.get_absolute_url }}">
                                        {{ feedback_survey.ticket }}
                                    </a>
                                </td>
                                <td>
                                    {% if feedback_survey.ticket.assigned_to %}
                                        {% avatar feedback_survey.ticket.assigned_to 30 class="img-circle" %}
                                        {{ feedback_survey.ticket.assigned_to }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if feedback_survey.author %}
                                        {% avatar feedback_survey.author 30 class="img-circle" %}
                                        {{ feedback_survey.author }}
                                    {% elif feedback_survey.ticket.customer_contact %}
                                        {% avatar feedback_survey.ticket.customer_contact 30 class="img-circle" %}
                                        {{ feedback_survey.ticket.customer_contact }} (émetteur ticket)
                                    {% else %}
                                        {{ feedback_survey.ticket.submitter_email }}
                                    {% endif %}
                                </td>
                                <td>{{ feedback_survey.message|linebreaksbr }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                            <td colspan="6">Aucun résultat pour cette recherche.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% include 'base/components/pagination.html' with objects=feedback_surveys filter_parameter='score' %}
        </div>
    </div>
{% endblock %}

{% block custom_javascripts %}
    {{ filter.form.media.js }}
    <!-- Chart.js -->
    <script src="{% static  'base/vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <script>
        $(() => {
            new Chart($('#doughnutChart'), {
                type: 'doughnut',
                tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                data: {
                    labels: [
                        "Très bon",
                        "Moyen",
                        "À améliorer"
                    ],
                    datasets: [{
                        data: [{{ filter.qs.good.count }}, {{ filter.qs.neutral.count }}, {{ filter.qs.bad.count }}],
                        backgroundColor: [
                            "#1ABB9C",
                            "#eae156",
                            "#E74C3C"
                        ],
                        hoverBackgroundColor: [
                            "#2BCCAD",
                            "#fbf267",
                            "#F85D4D"
                        ]
                    }]
                },
                options: {
                    legend: false,
                    responsive: true,
                    maintainAspectRatio: false,
                    aspectRatio: 1
                }
            })
        })
    </script>
{% endblock %}