{% extends "helpdesk/base.html" %}{% load i18n bootstrap4form %}
{% block helpdesk_title %}{% trans "Edit followup" %}{% endblock %}

{% block helpdesk_head %}
<script type="text/javascript">
    $(document).ready(function() {
        $("[data-toggle=tooltip]").tooltip();
    });
</script>
{% endblock helpdesk_head %}

{% block helpdesk_breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'helpdesk:list' %}">{% trans "Tickets" %}</a>
</li>
<li class="breadcrumb-item">
    <a href="{{ ticket.get_absolute_url }}">{{ ticket.queue.slug }}-{{ ticket.id }}</a>
</li>
<li class="breadcrumb-item active">
    {% trans "Edit FollowUp" %}
</li>
{% endblock %}

{% block helpdesk_body %}

{% include "helpdesk/ticket_desc_table.html" %}

<div class="card mb-3">
    <div class="card-header">
        {% trans "Edit FollowUp" %}
    </div>
    <div class="card-body">
        <form action="." method="POST" name="edit_followup_form">
            {{ form.non_field_errors }}
            <fieldset>
                {{ form|bootstrap4form}}
            </fieldset>
            <p><input class="btn btn-primary" type="submit" value="Submit"></p>{% csrf_token %}
        </form>
    </div>
</div>
{% include 'helpdesk/include/edit_md_preview_script.html' %} 
{% endblock helpdesk_body %}
