{% extends "helpdesk/base.html" %}

{% block helpdesk_title %}{% if generic_incident %}Editer{% else %}Créer{% endif %} Incident Générique{% endblock %}
{% block h1_title %}Gestion des IG{% endblock %}

{% block helpdesk_body %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                        <h2>
                            {% if generic_incident %}
                                Editer l'incident {{ generic_incident }}
                            {% else %}
                                Créer un nouvel incident générique
                            {% endif %}
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg">
                                    {% if generic_incident %}Enregistrer{% else %}Créer{% endif %}
                                </button>
                                {% if generic_incident %}
                                    <a href="{{ generic_incident.get_absolute_url }}" class="btn btn-default btn-lg">Annuler</a>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}