{% load i18n helpdesk_staff %}
{% block header %}

<div class="row" style="display:inline">
    <div class="d-flex">
        <h2>{% blocktrans with item.question as itemq %}{{ itemq }}{% endblocktrans %}</h2>
        <div class="flex-fill d-flex justify-content-end">
            {% if  user.is_authenticated and user|is_helpdesk_staff %}
            <a class="btn btn-warning align-self-center mr-2" href="{% url 'helpdesk:edit_kb_article' category.slug item.id %}{{ user_info.url }}">
                <i class="fa fa-pen mr-1"></i>Edit Article
            </a>
            <a class="btn btn-danger align-self-center" data-toggle="modal" data-target="#deleteModal">
                <i class="fa fa-trash mr-1"></i>Delete Article
            </a>
            {% endif %}
        </div>
    </div>
    <a style="vertical-align:center" class="btn btn-secondary btn-sm{% if not prev_item %} disabled{% endif %}" href="{{ prev_item.get_absolute_url }}/{{ user_info.url }}" role="button">
        <i class="fa fa-angle-double-left"></i> Previous Item
    </a>
    <a class="btn btn-secondary btn-sm{% if not next_item %} disabled{% endif %}" href="{{ next_item.get_absolute_url }}/{{ user_info.url }}">
        Next Item <i class="fa fa-angle-double-right"></i>
    </a>
</div>
{% endblock %}

<div class="container">
    <div class="row" style="margin-top:15px;display:block;">
        {{ item.get_markdown }}
    </div>

    <div class="row" style="margin-top:20px">
        {% if kb_forms %}
        <a class="dropdown-toggle btn btn-success btn-circle btn-xl" href="#" id="ticketsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-plus-circle"></i> {% trans category.form_submission_text %}
        </a>
        <div class="dropdown-menu" aria-labelledby="ticketsDropdown">
            {% for f in kb_forms %}
            <a class="dropdown-item small text-wrap" href="{% if iframe %}{% url 'helpdesk:submit_iframe' %}{% else %}{% url 'helpdesk:submit' f.id %}{%endif%}?{% if category.queue %}queue={{category.queue.pk}}&_readonly_fields_=queue&{%endif%}kbitem={{item.id}}{% if query_param_string %}&{{query_param_string}}{% endif %}">{{ f.name }}</a>
            {% endfor %}
        </div>
        {% endif %}
        {% if staff %}
        <a href="{% url 'helpdesk:list' %}?kbitem={{item.id}}" class="col-sm">
            <div class="btn btn-warning btn-circle btn-xl"><i class="fa fa-search fa-lg"></i> {{item.num_open_tickets}} {% trans 'open tickets' %}</div>
        </a>
        {% endif %}
    </div>
</div>
{% block footer %}
{% endblock %}

{% url 'helpdesk:delete_kb_article' category.slug item.id as delete_url%}
{% include 'helpdesk/include/confirm_delete.html' with type="Article" title=item.title delete_url=delete_url %}