{% extends "helpdesk/base.html" %}

{% load i18n bootstrap4form %}

{% block helpdesk_title %}{% blocktrans %}{{ action }} Category{% endblocktrans %} {% endblock %}

{% block helpdesk_breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'helpdesk:kb_index' %}{{ user_info.url }}">{% trans "Knowledgebase" %}</a>
</li>
<li class="breadcrumb-item active">{% blocktrans with category.title as kbcat %} {{ action }} {{ kbcat }}{% endblocktrans %}</li>
{% endblock %}

{% block helpdesk_body %}
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body"><h2>{% blocktrans %} {{ action }} Category {% endblocktrans %}</h2>
                <p>
                    {% trans "Required fields are indicated by " %} <span style="color:red;">*</span>
                </p>
                {% if errors %}
                <div class="alert alert-danger" role="alert">
                    <a class="close" data-dismiss="alert">&times;</a>
                        {% trans "Error in the following field(s): " %}
                        {% for error in errors %}
                            {{ error }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                </div>
                {% endif %}
                <form method='post'>
                    {% csrf_token %}
                    <fieldset>
                        {{ form|bootstrap4form }}
                        <div class='buttons form-group'>
                            <input type='submit' class="btn btn-primary btn" 
                                value="{% if action == "Create"%}Create Category{% else %}Save Changes{% endif %}"/>
                            <a href="
                            {% if action == "Create"%}
                                {% url 'helpdesk:kb_index'%}{{ user_info.url }}
                            {% else %}
                                {% url 'helpdesk:kb_category' category.slug %}{{ user_info.url }}
                            {% endif %}
                            ">
                                <button type="button" class="btn btn-danger">{% trans "Cancel" %}</button>
                            </a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <script type='text/javascript' language='javascript'>
        {# Bandaid fix for adding asterisks to required fields while the rest of the form is handled by bootstrap4form #}
        for (const required_field of document.querySelectorAll('[required]')) {
            document.querySelector('label[for=' + required_field.id + ']').innerHTML += '<span style="color:red;">*</span>'
        }

        if (document.getElementById('id_slug').disabled == false) {
            $('#id_name').on('input', function () {
                $('#id_slug').val($('#id_name').val().toLowerCase().replaceAll(' ', '-'))
            })
        }
    </script>
    {% include 'helpdesk/include/edit_md_preview_script.html' %} 
{% endblock %}