{% load i18n helpdesk_staff %}
{% block header %}
<div class="d-flex">
    <h2>{% blocktrans with category.title as kbcat %}{{ kbcat }}{% endblocktrans %}</h2>
    {% if user|is_helpdesk_staff %}
    <div class="flex-fill d-flex justify-content-end">
        <a class="btn btn-primary align-self-center" href="{% url 'helpdesk:edit_kb_category' category.slug %}{{ user_info.url }}">
            <i class="fa fa-pen" style="margin-right:0.25rem"></i>Edit
        </a>
    </div>
    {% endif %}
</div>

{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm" style="margin-top: 15px">
            {{ category.get_description_markdown }}
        </div>
        <div class="col-sm-8">
            {% for item in items %}
            <div class="card mb-3">
                <div class="card-body">
                     <a href='{{ item.get_absolute_url }}/{{ user_info.url }}'>
                         <h5 class="card-title">{{ item.question }}</h5>
                     </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% block footer %}
{% endblock %}