{% load i18n helpdesk_staff %}
{% block header %}
<div class="d-flex">
    <h2>{% blocktrans with category.title as kbcat %}{{ kbcat }}{% endblocktrans %}</h2>
    {% if user|is_helpdesk_staff %}
    <div class="flex-fill d-flex justify-content-end">
        {% if  user.is_authenticated and user|is_helpdesk_staff %}
        <a class="btn btn-primary align-self-center mr-2" href="{% url 'helpdesk:create_kb_article' category.slug %}{{ user_info.url }}">
            <i class="fa fa-plus mr-1"></i>Create Article
        </a>
        <a class="btn btn-warning align-self-center mr-2" href="{% url 'helpdesk:edit_kb_category' category.slug %}{{ user_info.url }}">
            <i class="fa fa-pen mr-1" ></i>Edit Category
        </a>
        <a class="btn btn-danger align-self-center" data-toggle="modal" data-target="#deleteModal">
            <i class="fa fa-trash mr-1"></i>Delete Category
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm" style="margin-top: 15px">
            {{ category.get_description_markdown }}
        </div>
        <div class="col-sm-8">
            {% for item in items %}
            <div class="card mb-3">
                <div class="card-body">
                     <a href='{{ item.get_absolute_url }}/{{ user_info.url }}'>
                         <h5 class="card-title">{{ item.question }}</h5>
                     </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% block footer %}
{% endblock %}

{% url 'helpdesk:delete_kb_category' category.slug as delete_url%}
{% include 'helpdesk/include/confirm_delete.html' with type="Category" title=category.title delete_url=delete_url subdelete="Article" %}