{% load i18n helpdesk_staff %}
{% load organization_info %}

    {% include 'helpdesk/custom_navigation_header.html' %}
    <nav class="navbar navbar-expand navbar-dark bg-dc static-top">
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <a class="navbar-brand mr-auto" href="{% url 'helpdesk:home' %}{% if user|is_helpdesk_staff is False %}?org={{ user_info.default_org.name }}{% endif %}">{% trans 'Building Performance Helpdesk' %}</a>

      {% if helpdesk_settings.HELPDESK_NAVIGATION_ENABLED and user.is_authenticated or user|is_helpdesk_staff %}
      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" id='searchform' method='get' action="{% url 'helpdesk:list' %}">
        <div class="input-group">
          <input type="text" class="form-control" name='q' size='15' placeholder='{% trans "Search..." %}' id='search_query' title='{% trans "Enter a keyword, or a ticket number to jump straight to that ticket." %}' aria-label="Search" aria-describedby="basic-addon2">
          <input type='hidden' name='status' value='1' /><input type='hidden' name='status' value='2' /><input type='hidden' name='status' value='3' /><input type='hidden' name='search_type' value='header' />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search"></i> {% trans 'Go' %}
            </button>
          </div>
        </div>
        {% csrf_token %}
      </form>
      {% endif %}
      <!-- Show Org Dropdown, Styling and Logo if User is Staff -->
	    {% if user.is_authenticated and user|is_helpdesk_staff %}
      <div class="org-dropdown-btn">
        <button onclick="showOrgs()" class="btnUserOrgs staff" type="button" class="dropbtn">
          {{ user_info.default_org.name }} <span class="caret"></span>
        </button>
        <div id="org-dropdown-menu" class="org-dropdown-items">
          {% for org in user_info.orgs %}
          <a href="{% url 'helpdesk:set_default_org' user_id=user.id org_id=org.id %}"> {{ org.name }}
            {% if org.id == user.default_organization_id %}
            <i class="fa fa-check"></i>
            {% endif %}
          </a>
          {% endfor %}
        </div>
      </div>
      <!-- If user is not staff, we show dropdown with Org Helpdesks they have access to or the One org that led them there -->
      {% elif user|is_helpdesk_staff is False %}
      <div class="org-dropdown-btn">
        <button  class="btnUserOrgs public" >
          {{ user_info.default_org.name }}
        </button>
      </div>
      {% endif %}
      <!-- DC logo -->
      <!--<img src="{{ STATIC_URL }}helpdesk/images/dc_green_doee_logo_white.png" title="{$:: 'BEAM' | translate $}" style="max-height:70px;">-->
      {% if user_info.default_org.logo %}
      <img src="{{ STATIC_URL }}{{ user_info.default_org.logo }}" title="{$:: 'BEAM' | translate $}" style="max-height:70px;">
      {% endif %}
    </nav>


<!-- Org dropdown menu Styling and Functionality -->
<style>
/* Dropdown Button */
.btnUserOrgs {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-size: 1.25rem;
}

.btnUserOrgs.public {
  cursor: default;
}

/* Dropdown button on hover & focus */
.btnUserOrgs.staff:hover, .btnUserOrgs.staff:focus {
  background-color: #2980B9;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.org-dropdown-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* Dropdown Content (Hidden by Default) */
.org-dropdown-items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.org-dropdown-items a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.org-dropdown-items a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Caret */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
</style>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function showOrgs() {
  document.getElementById("org-dropdown-menu").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.btnUserOrgs')) {
    var dropdowns = document.getElementsByClassName("org-dropdown-items");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<!-- Organization specici font and background -->
<style>
{% if user_info.default_org.styling %}
  {{ user_info.default_org.styling|replace_slash }}
{% else %}
  /* Default Styling */
  body {
    font-family: century-gothic, sans-serif;
  }

  .bg-dc {
    background-color: #218d45;
  }
{% endif %}
</style>
