{% load i18n helpdesk_staff %}
{% load int_to_hex %}

    {% include 'helpdesk/custom_navigation_header.html' %}
    <nav class="navbar navbar-expand navbar-dark org-bg static-top">
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <a class="navbar-brand mr-auto beam-navbar-header-shadow" href="{% url 'helpdesk:home' %}{% if user|is_helpdesk_staff is False %}{{ user_info.url }}{% endif %}">{% trans 'Building Performance Helpdesk' %}</a>

      {% if helpdesk_settings.HELPDESK_NAVIGATION_ENABLED and user.is_authenticated or user|is_helpdesk_staff %}
      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" id='searchform' method='get' action="{% url 'helpdesk:list' %}">
        <div class="input-group">
          <input type="text" class="form-control" name='q' size='15' placeholder='{% trans "Search..." %}' id='search_query' title='{% trans "Enter a keyword, or a ticket number to jump straight to that ticket." %}' aria-label="Search" aria-describedby="basic-addon2">
          <input type='hidden' name='status' value='1' /><input type='hidden' name='status' value='2' /><input type='hidden' name='status' value='3' /><input type='hidden' name='status' value='6' /><input type='hidden' name='status' value='7' /><input type='hidden' name='search_type' value='header' />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search"></i> {% trans 'Go' %}
            </button>
          </div>
        </div>
        {% csrf_token %}
      </form>
      {% endif %}
      <!-- Org Name with Org Dropdown Selection -->
      <div class="dropdown">
        {% if user_info.orgs and user_info.orgs|length > 1 %}
        <button type="button" id='orgDropDownButton' class="btn btn-lg navbar-dark dropdown-toggle beam-navbar-header-shadow" style="background-color: transparent;color: white;" type="button" data-toggle="dropdown" aria-haspopup="true">
          {{ user_info.default_org.name }}
        </button>
        <div class="dropdown-menu" aria-labelledby="orgDropDownButton">
          {% for org in user_info.orgs %}
            {% if user.is_anonymous %}
            <a class="dropdown-item" href="{{ request.get_full_path }}?org={{ org.name }}">
            {% else %}
            <a class="dropdown-item" href="{% url 'helpdesk:set_default_org' user_id=user.id org_id=org.id %}">
            {% endif %}
              {{ org.name }} {% if org.id == user_info.default_org.id %}<i class="fa fa-check"></i>{% endif %}
            </a>
          {% endfor %}
        </div>
        {% else %}
        <button type="button" id='orgDropDownButton' class="btn btn-lg navbar-dark beam-navbar-header-shadow" style="background-color: transparent;color: white; cursor: default;" >
          {{ user_info.default_org.name }}
        </button>
        {% endif %}
      </div>

      {% if user_info.default_org.logo %}
      <img src="{{ MEDIA_URL }}{{ user_info.default_org.logo }}" title="{$:: 'BEAM' | translate $}" style="max-height:70px;">
      {% endif %}
    </nav>
<!-- Organization specific font and background -->
<style>
  {% if user_info.default_org.background_color_styling %}
  .org-bg {
    background-color: #{{ user_info.default_org.background_color_styling|int_to_hex }};
  }
  {% else %}
  .org-bg {
    background-color: #00a0af;
  }
  {% endif %}
</style>
