{% load i18n helpdesk_staff %}
{% load form_list %}
{% form_list user request as forms %}
{% load saved_queries %}
{% with user|saved_queries as user_saved_queries_ %}
{% with request.resolver_match.url_name as url_name %}
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
    {% if helpdesk_settings.HELPDESK_NAVIGATION_ENABLED and user.is_authenticated or user|is_helpdesk_staff %}
        <li class="nav-item {% if url_name == 'dashboard' %}active{% endif %}">
          <a class="nav-link" href="{% url 'helpdesk:dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{% trans "Helpdesk Dashboard" %}</span>
          </a>
        </li>
        <li class="nav-item {% if url_name == 'list' %}active{% endif %}">
          <a class="nav-link" href="{% url 'helpdesk:list' %}">
            <i class="fas fa-fw fa-tasks"></i>
            <span>{% trans "All Tickets" %}</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="queriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-search"></i>
            <span>{% trans "Saved Queries" %}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="queriesDropdown">
            {% if user_saved_queries_ %}
            {% for q in user_saved_queries_ %}
            <a class="dropdown-item small text-wrap" href="{% url 'helpdesk:list' %}?saved_query={{ q.id }}">{{ q.title }}
                {% if q.shared %}
                (Shared{% ifnotequal user q.user %} by {{ q.user.get_username }}{% endifnotequal %})
                {% endif %}
            </a>
            {% endfor %}
            {% else %}
            <p class="dropdown-item small text-wrap">{% trans "No saved queries currently available. You can create one in the All Tickets page." %}</p>
            {% endif %}
          </div>
        </li>
        <li class="nav-item dropdown {% if url_name == 'submit' %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="ticketsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-plus-circle"></i>
            <span>{% trans "New Ticket" %}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="ticketsDropdown">
            {% if forms %}
            {% for f in forms %}
            <a class="dropdown-item small text-wrap" href="{% url 'helpdesk:submit' f.id %}{{ user_info.url }}">{{ f.name }}</a>
            {% endfor %}
            {% else %}
            <p class="dropdown-item small text-wrap">{% trans "No forms are available." %}</p>
            {% endif %}
          </div>
        </li>
        <li class="nav-item {% if url_name == 'report_index' %}active{% endif %}">
          <a class="nav-link" href="{% url 'helpdesk:report_index' %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>{% trans "Reports" %}</span>
          </a>
        </li>
        {% if helpdesk_settings.HELPDESK_KB_ENABLED %}
        <li class="nav-item {% if 'kb_' in url_name %}active{% endif %}">
          <a class="nav-link" href="{% url 'helpdesk:kb_index' %}">
            <i class="fas fa-fw fa-database"></i>
            <span>{% trans "Knowledgebase" %}</span>
          </a>
        </li>
        {% endif %}
        <li class="dropdown-divider"></li>
        <li class="nav-item dropdown {% if url_name == 'user_settings' or url_name == 'system_settings' or 'rss_' in url_name %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
              <span>{{ user.get_full_name|default:user.get_username }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item small text-wrap" href="{% url 'helpdesk:user_settings' %}"><i class="fas fa-fw fa-user-cog"></i> {% trans "User Settings" %}</a>
            <a class="dropdown-item small text-wrap" href="{% url 'helpdesk:rss_index' %}"><i class="fas fa-fw fa-rss-square"></i> {% trans "RSS Feeds" %}</a>
            {% if helpdesk_settings.HELPDESK_SHOW_CHANGE_PASSWORD and user.has_usable_password %}
            <a class="dropdown-item small text-wrap" href="{% url 'helpdesk:password_change' %}"><i class="fas fa-fw fa-user-secret"></i> {% trans "Change password" %}</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            {% if user.is_superuser %}
            <a class="dropdown-item small text-wrap" href="{% url 'helpdesk:system_settings' %}"><i class="fas fa-fw fa-cogs"></i> {% trans "System Settings" %}</a>
            <div class="dropdown-divider"></div>
            {% endif %}
            <a class="dropdown-item small text-wrap" href="{% url 'helpdesk:logout' %}?next=/helpdesk/{{ user_info.url }}"><i class="fas fa-fw fa-sign-out-alt"></i> {% trans "Logout" %}</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'seed:home' %}">
                <i class="fas fa-city"></i>
                <span>BEAM</span>
            </a>
        </li>
    {% else %}
        {# Public menu #}
        <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
          <a class="nav-link" href="{% url 'helpdesk:home' %}{{ user_info.url }}">
            <i class="fas fa-fw fa-home"></i>
            <span>{% trans "Homepage" %}</span>
          </a>
        </li>
        <li class="nav-item dropdown {% if url_name == 'submit' %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="ticketsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-plus-circle"></i>
            <span>{% trans "New Ticket" %}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="ticketsDropdown">
            {% if forms %}
            {% for f in forms %}
            {% if f.organization__name == user_info.default_org.name %}
            <a class="dropdown-item small text-wrap" href="{% url 'helpdesk:submit' f.id %}{{ user_info.url }}">{{ f.name }}</a>
            {% endif %}
            {% endfor %}
            {% else %}
            <p class="dropdown-item small text-wrap">{% trans "No forms are available." %}</p>
            {% endif %}
          </div>
        </li>
        {% if helpdesk_settings.HELPDESK_KB_ENABLED %}
        <li class="nav-item {% if 'kb_' in url_name %}active{% endif %}">
          <a class="nav-link" href="{% url 'helpdesk:kb_index' %}{{ user_info.url }}">
            <i class="fas fa-fw fa-database"></i>
            <span>{% trans "Knowledgebase" %}</span>
          </a>
        </li>
        {% endif %}
        <li class="dropdown-divider"></li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'seed:home' %}#/properties">
                <i class="fas fa-city"></i>
                <span>BEAM {% trans "Inventory" %}</span>
            </a>
        </li>
    {% endif %}
    </ul>

{% endwith %}
{% endwith %}
