{% load i18n bootstrap4form %}
{% load load_helpdesk_settings %}

{% with request|load_helpdesk_settings as helpdesk_settings %}
    {% if helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
        <p>
            {% blocktrans with intro=form.form_introduction %}
            {{ intro }}
            {% endblocktrans %}
        </p>

        {% if form.errors %}
            {% include 'helpdesk/include/alert_form_errors.html' %}
        {% endif %}

        <form method='post' enctype='multipart/form-data' id=’ticket_submission_form'>
            {% csrf_token %}
            {% for field in form %}
                {% if field.is_hidden %}
                    {{ field }}
                {% else %}
                    <div class="form-group" id='id_group_{{ field.name }}'>
                        <label for='id_{{ field.name }}'>
                            {{ field.label }}
                            {% if not field.field.required %}
                                ({% trans "Optional" %})
                            {% endif %}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                            <small class='error'>{{ field.errors }}</small>
                        {% endif %}
                        {% if field.help_text %}
                            <small class='form_help_text help-block'>
                                {% blocktrans with help_text=field.help_text %}
                                {{ help_text }}
                                {% endblocktrans %}
                            </small>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                <i class="fa fa-send"></i> {% trans "Submit Ticket" %}
            </button>
        </form>
    {% else %}
        <p>{% trans "Public ticket submission is disabled. Please contact the administrator for assistance." %}</p>
    {% endif %}
{% endwith %}
