{% load i18n %}{% load url from future %}
{% load load_helpdesk_settings %}
{% with request|load_helpdesk_settings as helpdesk_settings %}
<html>
<head>
<title>{% block helpdesk_title %}{% trans "Helpdesk" %}{% endblock %}</title>
    <script src='{{ STATIC_URL }}helpdesk/jquery.min.js' type='text/javascript' ></script>
    <script src='{{ STATIC_URL }}helpdesk/bootstrap.min.js' type='text/javascript'></script>
    <link rel='stylesheet' href='{{ STATIC_URL }}helpdesk/bootstrap.min.css' type='text/css'>
    <link rel='stylesheet' href='{{ STATIC_URL }}helpdesk/helpdesk-extend.css' type='text/css' />
{% block helpdesk_head %}{% endblock %}
</head>
<body id="helpdesk-body">
<div id='container' class="container">
    <div id='header' class="row">
        <!-- Put your logo here if necessary: -->
        <!-- <img class="brand pull-right" src="/media/logo.png"> -->
        {% block logo %}
        <div><a class="col-md-6 pull-left" href="/">
            <img class="account_zina" src='{{ STATIC_URL }}helpdesk/ZINA_LOGO_WF.svg'>
            </a>
        </div>
        {% endblock %}
        <h1>{% trans "Help Desk" %}</h1>
        {% include "helpdesk/navigation.html" %}
    </div>
    <div id='body' class="row">
{% block helpdesk_body %}{% endblock %}
    </div>
    <div id='footer' class="row">
        <p>{% include "helpdesk/attribution.html" %}</p>
    </div>
</div>{% include "helpdesk/debug.html" %}
</body>
</html>
{% endwith %}
