{% extends "helpdesk/public_base.html" %}
{% load i18n %}

{% block helpdesk_title %}{% trans "Create Ticket" %}{% endblock %}

{% block helpdesk_breadcrumb %}
{% load organization_info %}
{% organization_info user request.get_full_path as user_info %}
    <li class="breadcrumb-item">
        <a href="{% url 'helpdesk:home' %}?org={{ user_info.default_org.name }}">Public</a>
    </li>
    <li class="breadcrumb-item active">Create Ticket</li>
{% endblock %}

{% block helpdesk_body %}
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                {% blocktrans with title=form.form_title %}
                Submit a {{ title }}
                {% endblocktrans %}
            </div>
            <div class="card-body" style="margin-top:-15px">
                {% include 'helpdesk/public_create_ticket_base.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block helpdesk_js %}
    {{ form.media.js }}
{% endblock %}
