{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Reports &amp; Statistics" %}{% endblock %}

{% block helpdesk_body %}
{% ifequal number_tickets 0 %}{% blocktrans %}
<h2>Reports &amp; Statistics</h2>

<p>You haven't created any tickets yet, so you cannot run any reports.</p>
{% endblocktrans %}
{% else %}
{% blocktrans %}
<h2>Reports &amp; Statistics</h2>


<ul>
<li>User<ul>

    <li><a href='userpriority/'>by Priority</a></li>
    <li><a href='userqueue/'>by Queue</a></li>
    <li><a href='userstatus/'>by Status</a></li>
    <li><a href='usermonth/'>by Month</a></li>

</ul></li>

<li>Queue<ul>
    
    <li><a href='queuepriority/'>by Priority</a></li>
    <li><a href='queuestatus/'>by Status</a></li>
    <li><a href='queuemonth/'>by Month</a></li>

</ul></li>
</ul>

{% endblocktrans %}{% endifequal %}{% endblock %}
