{% extends "helpdesk/base.html" %}{% load i18n %}{# load user_admin_url #}

{% block helpdesk_title %}{% trans "Change System Settings" %}{% endblock %}

{% block helpdesk_breadcrumb %}
<li class="breadcrumb-item active">
    System Settings
</li>
{% endblock %}

{% block helpdesk_body %}
<h2>{% trans "System Settings" %}</h2>

<p>{% blocktrans %}The following items can be maintained by you or other superusers:{% endblocktrans %}</p>

<ul>
    <li><a href='{% url 'helpdesk:maintain_queues' %}'>{% trans "Queues" %}</a></li>
    <li><a href='{% url 'helpdesk:maintain_forms' %}'>{% trans "Forms" %}</a></li>
    <li><a href='{% url 'helpdesk:email_ignore' %}'>{% trans "Ignored Email Address List" %}</a></li>
    <li><a href='{% url 'helpdesk:preset_reply_list' %}'>{% trans "Preset Ticket Replies" %}</a></li>
    <li><a href='{% url 'helpdesk:email_template_list' %}'>{% trans "Email Templates" %}</a></li>
    {% comment %} <li><a href='{% url 'admin:helpdesk_kbcategory_changelist' %}'>{% trans "Maintain Knowledgebase Categories" %}</a></li> {% endcomment %}
    {% comment %} <li><a href='{% url 'admin:helpdesk_kbitem_changelist' %}'>{% trans "Maintain Knowledgebase Items" %}</a></li> {% endcomment %}
    <!--<li><a href='{# url 'changelist'|user_admin_url #}'>{% trans "Maintain Users" %}</a></li>-->
    <!-- TODO above does not work with SEED yet -->
</ul>
{% endblock %}
