{% extends "helpdesk/base.html" %}
{% load i18n %}
{% load static %}

{% block helpdesk_title %}
{{ ticket.queue.slug }}-{{ ticket.id }}: {% trans "Copy ticket data to BEAM inventory" %}
{% endblock %}

{% block helpdesk_head %}
{% endblock %}

{% block helpdesk_breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'helpdesk:list' %}">{% trans "Tickets" %}</a>
</li>
<li class="breadcrumb-item">
    <a href="{{ ticket.get_absolute_url }}">{{ ticket.queue.slug }}-{{ ticket.id }}</a>
</li>
<li class="breadcrumb-item active">
    Copy ticket data to BEAM inventory
</li>
{% endblock %}

{% block helpdesk_body %}
<div class="card mb-3">
    <div class="card-body">
        <form id="update-form" method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-2">
                <div id="group_cycle_select" class="form-group">
                    <h5>{% blocktrans %}First, select a cycle to update.{% endblocktrans %}</h5>
                    <select class="custom-select" id="cycle_select" name="cycle_id">
                        <option value="" selected>Your Cycle Selection</option>
                        {% for cycle in cycles %}
                        <option value="{{ cycle.id }}">{{ cycle.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="group_building_select" class="form-group">
                    <h5>{% trans "Select a property or taxlot to edit." %}</h5>
                    <select class="custom-select" id="building_select" name="building_id">
                        <option value="" selected>Your Property Selection</option>
                        {% for cycle, views in properties_per_cycle.items %}
                        {% for view in views %}
                        <option value="PropertyState-{{ cycle.id }}-{{ view.id }}">{% if view.address %}{{ view.address }}{% else %}PM Property ID: {{ view.building_id }}{% endif %}</option>
                        {% endfor %}
                        {% endfor %}
                        {% for cycle, views in taxlots_per_cycle.items %}
                        {% for view in views %}
                        <option value="TaxLotState-{{ cycle.id }}-{{ view.id }}">{% if view.address %}{{ view.address }}{% else %}Jurisdiction Taxlot ID: {{ view.building_id }}{% endif %}</option>
                        {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-9">
                <div><h5>{% trans "Choose the fields you would like to copy over into BEAM." %}</h5></div>
                <div class="table">
                    <table class="table table-sm table-border" id="data_table">
                        <thead class="thead-light">
                            <tr class=''>
                                <th colspan='2' style="width: 40%"><h3>Ticket data</h3></th>
                                <th colspan='2' style="width: 40%"><h3>BEAM data</h3></th>
                                <th colspan='1' style="width: 10%"><h3>Copy over?</h3></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="form-group text-center" id="submit-button">
                    <input class="btn btn-primary col-sm-3" type='submit' id="submit" value='{% trans "Copy selected values to BEAM" %}' disabled>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}

{% block helpdesk_js %}

<script type='text/javascript' language='javascript'>

    $('#group_building_select').hide();

    var building_options = $('#building_select option').detach();

    $('#cycle_select').change(function () {
        // When a cycle is selected, updates the dropdown of buildings and cleans the page.

        $("#success-msg").remove()
        $('#group_building_select').hide()
        if ($('#cycle_select').val()) {
            $('#group_building_select').show();

            // Filter Properties to those in selected Cycle
            $('#building_select').empty().append(building_options.filter(function () {
                this_cycle_id = $(this).val().split('-')[1];
                return $('#cycle_select').val() === this_cycle_id || $(this).val() === '';
            }));
            $('#data_table tbody').empty();
        } else {
            $('#group_building_select').hide()
            $('#building_select').empty().append(building_options);
        }
        $('#building_select').val('');
    });

    let update_page = function(ticket, inventory_type, cycle_id, view_id) {
        // Submits an Ajax request to retrieve ticket and building data, then creates the table to display the info.

        $.ajax({
            type: 'GET',
            url: "{% url 'helpdesk:get_building_data' ticket.id %}",
            data: {"inventory_type": inventory_type, "cycle_id": cycle_id, "view_id": view_id},
            success: function (response) {
                $('#data_table tbody').empty();

                let ticket_data = response['ticket_data'];
                let beam_data = response['beam_data'];

                if (ticket_data.length === 0) {
                    let inv_url = (inventory_type === 'PropertyState') ? "properties" : "taxlots";
                    $('<div class="form-group text-center" id="success-msg">' +
                        "<div>No ticket data can be copied into BEAM.</div>" +
                        "<a href='{{ ticket.get_absolute_url }}'><button type='button' class='btn btn-warning'>Return to ticket</button></a>  " +
                        '<a href="{% url 'seed:home' %}#/' + inv_url + '/' + view_id + '" target="_blank" rel="noopener noreferrer"><button type="button" class="btn btn-primary">View Building in BEAM</button></a>' +
                        '</div>'
                    ).insertBefore('#submit-button');
                }

                for (let t in ticket_data) {
                    if (beam_data[t]["is_matching_criteria"]) {
                        $("#data_table tbody").append(
                            `<tr>
                            <th class="table-active" style="width: 20%">${ticket_data[t]["display"]||""}</th>
                            <td style="width: 20%">${ticket_data[t]["value"]||""}</td>

                            <th class="table-secondary" style="width: 20%">${beam_data[t]["display"]||""}</th>
                            <td class="table-active" style="width: 20%">${beam_data[t]["value"]||""}</td>

                            <td style="width: 10%">Match criteria data cannot be changed in Helpdesk.</td>
                            </tr>`
                        );
                    } else if (beam_data[t]['data_type'] !== ticket_data[t]['data_type']) {
                        $("#data_table tbody").append(
                            `<tr>
                            <th class="table-active" style="width: 20%">${ticket_data[t]["display"]||""}</th>
                            <td style="width: 20%">${ticket_data[t]["value"]||""}</td>

                            <th class="table-active" style="width: 20%">${beam_data[t]["display"]||""}</th>
                            <td style="width: 20%">${beam_data[t]["value"]||""}</td>

                            <td style="width: 10%">Fields are not of the same type.</td>
                            </tr>`
                        );
                    } else {
                        $("#data_table tbody").append(
                            `<tr>
                            <th class="table-active" style="width: 20%">${ticket_data[t]["display"]||""}</th>
                            <td style="width: 20%">${ticket_data[t]["value"]||""}</td>

                            <th class="table-active"style="width: 20%">${beam_data[t]["display"]||""}</th>
                            <td style="width: 20%">${beam_data[t]["value"]||""}</td>

                            <td style="width: 10%"><input class="beam_data_checkbox" type="checkbox" id=${beam_data[t]["column_name"]} name="col"
                                value=${ticket_data[t]["field_name"]}></td>
                            </tr>`
                        );
                    }
                }
            },
            error: function (response) {
                console.log(response);
            }
        });
    };

    $("#building_select").change(function (e) {
        // When a building is selected from the dropdown, update_page() is called to create the table.

        e.preventDefault();
        $("#success-msg").remove()
        var ticket = {{ ticket.id }};
        var value = $(this).val();
        if (value) {
            let inventory_type = value.split('-')[0];
            let cycle_id = value.split('-')[1];
            let view_id = value.split('-')[2];

            update_page(ticket, inventory_type, cycle_id, view_id);
        } else {
            $('#data_table tbody').empty();
        }
    });

    $(document).on("change", ".beam_data_checkbox", function() {
        // Disables the submit button if no boxes have been checked.
        if ($('.beam_data_checkbox:checkbox:checked').length > 0){
            $('#submit').prop("disabled", false);
        } else {
            $('#submit').prop("disabled", true);
        }

        // If two ticket boxes have been checked to update the same BEAM field, the other box is unchecked.
        let this_display = this.id;
        let this_value = this.value;
        $('input:checked').each(function() {
            if (this.id === this_display && this.value !== this_value) {
                $(this).prop('checked', false);
            }
        });
    });


    $("#update-form").submit(function (e) {
        // Submits the checked ticket fields to BEAM to update the building with the ticket's values.
        // Upon success, calls update_page to update the table and inserts a success message;
        // after an error, an error message is inserted instead.

        e.preventDefault();
        let fields = [];
        let data = $('.beam_data_checkbox:checkbox:checked').serializeArray();
        for (i in data) {
            fields.push(data[i]['value']);
        };
        var ticket = {{ ticket.id }};
        var value = $("#building_select").val();
        let inventory_type = value.split('-')[0];
        let cycle_id = value.split('-')[1];
        let view_id = value.split('-')[2];
        let inv_url = (inventory_type === 'PropertyState') ? "properties" : "taxlots";

        $("#success-msg").remove()

        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'helpdesk:update_building_data' ticket.id %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                'inventory_type': inventory_type,
                'cycle_id': cycle_id,
                'view_id': view_id,
                'fields': fields
            },
            success: function (response) {
                update_page(ticket, inventory_type, cycle_id, view_id);
                $('#submit').prop("disabled", true);
                $('<div class="form-group text-center" id="success-msg">' +
                    "<div>BEAM data has been updated successfully.</div>" +
                    "<a href='{{ ticket.get_absolute_url }}'><button type='button' class='btn btn-warning'>Return to ticket</button></a>  " +
                    '<a href="{% url 'seed:home' %}#/' + inv_url + '/' + view_id + '" target="_blank" rel="noopener noreferrer"><button type="button" class="btn btn-primary">View Building in BEAM</button></a>' +
                    '</div>'
                ).insertAfter('#submit-button');
            },
            error: function (response) {
                update_page(ticket, inventory_type, cycle_id, view_id);
                $('#submit').prop("disabled", true);
                $('<div class="form-group text-center" id="success-msg">' +
                    "<div>There was an error in updating BEAM.</div>" +
                    "<a href='{{ ticket.get_absolute_url }}'><button type='button' class='btn btn-warning'>Return to ticket</button></a>  " +
                    '<a href="{% url 'seed:home' %}#/' + inv_url + '/' + view_id + '" target="_blank" rel="noopener noreferrer"><button type="button" class="btn btn-primary">View Building in BEAM</button></a>' +
                    '</div>'
                ).insertAfter('#submit-button');
            }
        });
    });



</script>
{% endblock  %}
