{% load i18n humanize ticket_to_link %}
{% load static %}
{% load helpdesk_util %}
<script>
copy_public_link = function() {
    var doc = new DOMParser().parseFromString('{{ticket.ticket_url}}', "text/html"); //grab & decode url
    var input = document.createElement('input');
    input.value = doc.documentElement.textContent;
    document.body.appendChild(input);
    input.select();
    document.execCommand("copy");
    document.body.removeChild(input);
}
</script>

<div class="card mb-3">
    <!--div class="card-header">
        {# trans "Ticket Summary" #}
    </div -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-border">
                <thead class="thead-light">
                    <tr class=''><th colspan='4'><h3>{{ ticket.queue.slug }}-{{ ticket.id }}. {{ ticket.title }} [{{ ticket.get_status }}]</h3>
                        <div class="d-flex justify-content-between">
                            <div>
                                Queue: {{ ticket.queue.title }}<br/>
                                Form: {{ ticket.ticket_form.name }}
                            </div>
                            <div>
                                <span><a href="{% url 'helpdesk:enable_disable_emails' ticket.id %}" class="btn btn-{% if not ticket.allow_sending %}outline-{% endif %}danger btn-sm">
                                    <i class="fas fa-envelope"></i> {% if ticket.allow_sending %}{% trans "Disable Email Notifications" %}{% else %}{% trans "Enable Email Notifications" %}{% endif %}
                                </a></span>

                                <span><a href="{% url 'helpdesk:pair_property_ticket' ticket.id %}" class="btn btn-primary btn-sm">
                                    <i class="fas fa-city"></i> {% trans "Auto-pair to BEAM inventory" %}
                                </a></span>

                                {% if not ticket.beam_property.count and not ticket.beam_taxlot.count %} <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="Must be paired to a BEAM building to copy data over."> {% else %} <span> {% endif %}
                                <a href="{% url 'helpdesk:copy_to_beam' ticket.id %}"
                                    {% if not ticket.beam_property.count and not ticket.beam_taxlot.count %} class="btn btn-secondary btn-sm disabled" aria-disabled="true"
                                    {% else %} class="btn btn-primary btn-sm" {% endif %}>
                                    <i class="fa fa-share-square"></i> {% trans "Copy data to BEAM" %}
                                </a></span>

                                {% if ticket.property_milestones.count > 0 %}
                                <button type="button" id="milestoneButton" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fas fa-road"></i> {% trans "View Milestone(s)" %}</button>
                                <div class="dropdown-menu" aria-labelledby="milestoneButton">
                                    {% for property_milestone in ticket.property_milestones.all %}
                                    <a class="dropdown-item" href="{{ property_milestone.property_view_url }}" target="_blank" rel="noopener noreferrer">{{ property_milestone.milestone.name }}</a>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {% if not ticket.beam_property.count %} <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="Must be paired to a BEAM Property to Pair a Milestone"> {% else %} <span> {% endif %}
                                <a href="{% url 'helpdesk:pair_property_milestone' ticket.id %}"
                                    {% if not ticket.beam_property.count %} class="btn btn-secondary btn-sm disabled" aria-disabled="true"
                                    {% else %} class="btn btn-primary btn-sm" {% endif %}>
                                    <i class="fas fa-road"></i> {% trans "Pair to Milestone" %}
                                </a></span>
                                {% endif %}
                                {% if not ticket.beam_property.count %} <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="Must be paired to a BEAM Property to Edit Labels"> {% else %} <span> {% endif %}
                                <a href="{% url 'helpdesk:edit_inventory_labels' 'property' ticket.id %}"
                                    {% if not ticket.beam_property.count %} class="btn btn-secondary btn-sm disabled" aria-disabled="true"
                                    {% else %} class="btn btn-primary btn-sm" {% endif %}>
                                    <i class="fas fa-sticky-note"></i> {% trans "Edit Property Labels" %}
                                </a></span>
                                {% if not ticket.beam_taxlot.count %} <span class="tooltip-wrapper"  data-toggle="tooltip" data-placement="top" title="Must be paired to a BEAM TaxLot to Edit Labels"> {% else %} <span> {% endif %}
                                <a href="{% url 'helpdesk:edit_inventory_labels' 'taxlot' ticket.id %}"
                                    {% if not ticket.beam_taxlot.count %} class="btn btn-secondary btn-sm disabled" aria-disabled="true"
                                    {% else %} class="btn btn-primary btn-sm" {% endif %}>
                                    <i class="fas fa-sticky-note"></i> {% trans "Edit TaxLot Labels" %}
                                </a></span>
                                <a href="{% url 'helpdesk:edit' ticket.id %}" class="ticket-edit"><button class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i> {% trans "Edit" %}</button></a>
                                <a href="{% url 'helpdesk:delete' ticket.id %}" class="ticket-delete"><button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> {% trans "Delete" %}</button></a>
                                {% if ticket.on_hold %}
                                <a href="{% url 'helpdesk:unhold' ticket.id %}" class="ticket-hold"><button class="btn btn-warning btn-sm"><i class="fas fa-play"></i> {% trans "Unhold" %}</button></a>
                                {% else %}
                                <a href="{% url 'helpdesk:hold' ticket.id %}" class="ticket-hold"><button class="btn btn-warning btn-sm"><i class="fas fa-pause"></i> {% trans "Hold" %}</button></a>
                                {% endif %}
                            </div>
                        </div>
                    </th></tr>
                    {% if tag_choices|length %}
                    <tr class=''><th colspan='4'>
                        <div class="float-left">
                            Tags: {% for tag in ticket.tags.all %}<span class="badge badge-{{ tag.color }}">{{ tag.name }}</span> {% endfor %}
                        </div>
                        <div class="float-right">
                            <div class="dropdown" style="display:inline-block;">
                                <a class="btn btn-sm btn-warning dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Add/Remove Tags</a>
                                <div class="dropdown-menu" >
                                    <form action="{% url 'helpdesk:edit_ticket_tags' ticket.id %}" method="POST" class="px-3 pt-1">
                                        {% csrf_token %}
                                        {% for tag in tag_choices %}
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="tagCheck{{ tag.id }}" name="tag" value="{{ tag.id }}" {% if tag in ticket.tags.all %}checked{% endif %}>
                                            <label class="form-check-label" for="tagCheck{{ tag.id }}">
                                                <span class="badge badge-{{tag.color}}">{{ tag.name }}</span>
                                            </label>
                                        </div>
                                        {% endfor %}
                                        <button type="submit" class="btn btn-primary m-2 float-right">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
					</th></tr>
                    {% endif %}
					<tr class=''><th colspan='4'>
                        <a href="#" onclick="copy_public_link()">Click to copy Public Link to your Clipboard</a>
					</th></tr>
                </thead>
                <tbody>
                    {% for field in extra_data %}
                        {% cycle 'row' '' as row silent %}
                        {% if row %}<tr>{% endif %}
                            <th class="table-secondary">
                                {% if field.has_column %}
                                {% if field.lookup %}<span title="This field is used to look up buildings in BEAM's inventory.">{{ field.label }} <i class="fas fa-search"></i></span>
                                {% else %}<span title="This field is paired to a column in BEAM's inventory.">{{ field.label }} <i class="fas fa-city"></i></span>{% endif %}
                                {% else %}{{ field.label }}{% endif %}
                            </th>
                            {% if forloop.last %} <td colspan="3"> {% else %} <td> {% endif %}
                            {% spaceless %}{% if "url" == field.data_type %}<a href='{{ field.value }}'>{{ field.value }}</a>
                                {% elif "datetime" == field.data_type %}{{ field.value|datetime_string_format }}
                                {% elif "date" == field.data_type %}{{ field.value|datetime_string_format }}
                                {% elif "time" == field.data_type %}{{ field.value|datetime_string_format }}
                                {% elif "boolean" == field.data_type %}{{ field.value }}
                                {% else %}{{ field.value|default:"" }}
                                {% endif %}{% endspaceless %}</td>
                        {% if not row %}</tr>{% endif %}
                    {% endfor %}
                    <tr>
                        <th class="table-active">{% trans "Due Date" %}</th>
                        <td>{{ ticket.due_date|date:"DATETIME_FORMAT" }} {% if ticket.due_date %}({{ ticket.due_date|naturaltime }}){% endif %}
                        </td>
                        <th class="table-active">{% trans "Submitted On" %}</th>
                        <td>{{ ticket.created|date:"DATETIME_FORMAT" }} ({{ ticket.created|naturaltime }})</td>
                    </tr>
                    <tr>
                        <th class="table-active">{% trans "Assigned To" %}</th>
                        <td>{{ ticket.get_assigned_to }}<strong>
                            <a data-toggle="tooltip" href='?take' title='{% trans "Assign this ticket to yourself" %}'>
                                <button type="button" class="btn btn-primary btn-sm float-right"><i class="fas fa-hand-paper"></i></button>
                            </a>
                        </strong>
                        </td>
                        <th class="table-active">{% trans "Submitter E-Mail" %}</th>
                        <td> {{ ticket.submitter_email }}
                            {% if user.is_superuser %}
                            {% if submitter_userprofile_url %}
                            <strong><a data-toggle="tooltip" href='{{submitter_userprofile_url}}' title='{% trans "Edit " %}{{ ticket.submitter_email }}{% trans " user profile" %}'>
                                <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-address-book"></i></button></a>
                            </strong>
                            {% endif %}
                            <strong><a data-toggle="tooltip" href="{% url 'helpdesk:list'%}?q={{ticket.submitter_email}}" title='{% trans "Display tickets filtered for " %}{{ ticket.submitter_email }}{% trans " as a keyword" %}'>
                                <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-search"></i></button>
                            </a></strong>
                            <strong><a data-toggle="tooltip" href="{% url 'helpdesk:email_ignore_add' %}?email_address={{ ticket.submitter_email }}" title='{% trans "Add email address for the ticket system to ignore." %}'>
                                <button type="button" class="btn btn-warning btn-sm float-right"><i class="fas fa-eye-slash"></i></button>
                            </a></strong>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-active">{% trans "Priority" %}</th>
                        <td class="{% if ticket.priority < 3 %}table-warning{% endif %}">{{ ticket.get_priority_display }}
                        </td>
                        <th class="table-active">{% trans "Copies To" %}</th>
                        <td>{{ ticketcc_string }} <a data-toggle='tooltip' href='{% url 'helpdesk:ticket_cc' ticket.id %}' title='{% trans "Click here to add / remove people who should receive an e-mail whenever this ticket is updated." %}'><strong><button type="button" class="btn btn-warning btn-sm float-right"><i class="fa fa-share"></i></button></strong></a>{% if SHOW_SUBSCRIBE %} <strong><a data-toggle='tooltip' href='?subscribe' title='{% trans "Click here to subscribe yourself to this ticket, if you want to receive an e-mail whenever this ticket is updated." %}'><button type="button" class="btn btn-warning btn-sm float-right"><i class="fas fa-rss-square"></i></button></a></strong>{% endif %}</td>
                    </tr>

                    <tr>
                        <th class="table-active">{% trans "Dependencies" %}</th>
                        <td>
                            <a data-toggle='tooltip' href='{% url 'helpdesk:ticket_dependency_add' ticket.id %}' title="{% trans "Click on 'Add Dependency', if you want to make this ticket dependent on another ticket. A ticket may not be closed until all tickets it depends on are closed." %}"><button type="button" class="btn btn-primary btn-sm float-right"><i class="fas fa-link"></i></button></a>
                            {% for dep in ticket.ticketdependency.all %}
                            {% if forloop.first %}<p>{% trans "This ticket cannot be resolved until the following ticket(s) are resolved" %}</p><ul>{% endif %}
                                <li><a href='{{ dep.depends_on.get_absolute_url }}'>{{ dep.depends_on.ticket }} {{ dep.depends_on.title }}</a> ({{ dep.depends_on.get_status_display }}) <a href='{% url 'helpdesk:ticket_dependency_del' ticket.id dep.id %}'><button type="button" class="btn btn-warning btn-sm"><i class="fas fa-trash"></i></button></a></li>
                                {% if forloop.last %}</ul>{% endif %}
                            {% empty %}
                            {% trans "This ticket has no dependencies." %}
                            {% endfor %}
                        </td>
                        <th class="table-active">{% trans "Total time spent" %}</th>
                        <td>{{ ticket.time_spent_formatted }}</td>
                    </tr>
                    {% if ticket.kbitem %}
                    <tr>
                        <th class="table-active">{% trans "Knowlegebase item" %}</th>
                        <td> <a href ="{{ticket.kbitem.query_url}}"> {{ticket.kbitem}} </a> </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th class="table-active">{% trans "Properties Paired" %}</th>
                        <td>
                            {% for property in properties %}
                            <div style="display:flex;justify-content:space-between;">
                                <div><a href="{% url 'seed:home' %}#/properties/{{ property.id }}/cycles" target="_blank" rel="noopener noreferrer">{{ property.address }}</a></div>
                                <div style="flex-shrink:0;">
                                    <a href="{% url 'helpdesk:ticket_beam_unpair' ticket.id 'property' property.property_id %}" data-toggle="tooltip" title="Unpair {{ property.address }}"><button type="button" class="btn btn-warning btn-sm"><i class="fas fa-unlink"></i></button></a>
                                </div>
                            </div>
                            {% endfor %}
                        </td>
                        <th class="table-active">{% trans "Taxlots Paired" %}</th>
                        <td>
                            {% for taxlot in taxlots %}
                            <div style="display:flex;justify-content:space-between;">
                                <div><a href="{% url 'seed:home' %}#/taxlots/{{ taxlot.id }}/cycles" target="_blank" rel="noopener noreferrer">{{ taxlot.address }}</a></div>
                                <div style="flex-shrink:0;">
                                    <a href="{% url 'helpdesk:ticket_beam_unpair' ticket.id 'taxlot' taxlot.taxlot_id %}" data-toggle="tooltip" title="Unpair {{ taxlot.address }}"><button type="button" class="btn btn-warning btn-sm"><i class="fas fa-unlink"></i></button></a>
                                </div>
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-active">{% trans "Attachments" %}</th>
                        <td colspan="3">
                            <ul>
                            {% for followup in ticket.followup_set.all %}
                            {% for attachment in followup.followupattachment_set.all %}
                            <li><a href='{{ attachment.download_attachment }}'>{{ attachment.filename }}</a> ({{ attachment.mime_type }}, {{ attachment.size|filesizeformat }})
                            {% if followup.user and request.user == followup.user %}
                            <a href='{% url 'helpdesk:attachment_del' ticket.id attachment.id %}'><button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button></a>
                            {% endif %}
                            </li>
                            {% endfor %}
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td id="ticket-description" colspan='4'>
                            <h4>{% trans "Description" %}</h4>
                            {{ ticket.get_markdown|num_to_link }}</td>
                    </tr>

                    {% if ticket.resolution %}<tr>
                        <th colspan='2'>{% trans "Resolution" %}{% if "Resolved" == ticket.get_status_display %} <a href='?close'><button type="button" class="btn btn-warning btn-sm">{% trans "Accept and Close" %}</button></a>{% endif %}</th>
                    </tr>
                    <tr>
                        <td colspan='2'>{{ ticket.get_resolution_markdown }}</td>
                    </tr>{% endif %}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

