{% extends "helpdesk/base.html" %}
{% load i18n bootstrap4form humanize %}
{% load static %}

{% block helpdesk_title %}{{ ticket.queue.slug }}-{{ ticket.id }}: {% trans "View Ticket Details" %}{% endblock %}

{% block helpdesk_head %}
{% endblock %}

{% block h1_title %}{{ ticket.ticket_for_url }}{% endblock %}

{% block helpdesk_breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'helpdesk:list' %}">{% trans "Tickets" %}</a>
</li>
<li class="breadcrumb-item active">
    {{ ticket.queue.slug }}-{{ ticket.id }}
</li>
{% endblock %}

{% block helpdesk_body %}
    {% if helpdesk_settings.HELPDESK_TRANSLATE_TICKET_COMMENTS %}
        <div id="google_translate_element"></div>
        <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    {% endif %}

    {% include "helpdesk/ticket_desc_table.html" %}

    {% if ticket.merged_to %}
        <div class="card card-body bg-light">
            <h3 class="text-center">
                {% trans "This ticket has been merged into ticket" %}
                <a href="{{ ticket.merged_to.get_absolute_url }}">{{ ticket.merged_to }}</a>
            </h3>
        </div>
    {% else %}
        {% if ticket.followup_set.all %}
        {% load ticket_to_link %}
            <div class="card mb-3">
                <div class="card-header"><i class="fas fa-clock fa-fw fa-lg"></i>&nbsp;{% trans "Follow-Ups" %}</div>
                <div class="card-body">
                    <div class="list-group">
                    {% for followup in ticket.followup_set.all %}
                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ followup.title|num_to_link }}</h5>
                                <small><i class="fas fa-clock"></i>&nbsp;<span class='byline text-info'>{% if followup.user %}by {{ followup.user.get_full_name|default:followup.user.get_username }},{% endif %} <span title='{{ followup.date|naturaltime }}'>{{ followup.date|date:"DATETIME_FORMAT" }}</span>{% if followup.time_spent %}, <span>{% trans "time spent" %}: {{ followup.time_spent_formatted }}</span>{% endif %} {% if not followup.public %} <span class='private'>({% trans "Private" %})</span>{% endif %}</span></small>
                            </div>
                            <p class="mb-1">
                                {% if followup.comment %}<p>
                                    {% if followup.user %}{{ followup.get_markdown|num_to_link }}
                                    {% else %}{{ followup.comment|force_escape|urlizetrunc:50|num_to_link|linebreaksbr }}{% endif %}
                                </p>{% endif %}
                                {% for change in followup.ticketchange_set.all %}
                                    {% if forloop.first %}<div class='changes'><ul>{% endif %}
                                        <li>{% blocktrans with change.field as field and change.old_value as old_value and change.new_value as new_value %}Changed {{ field }} from {{ old_value }} to {{ new_value }}.{% endblocktrans %}</li>
                                    {% if forloop.last %}</ul></div>{% endif %}
                                {% endfor %}
                                {% for attachment in followup.followupattachment_set.all %}{% if forloop.first %}{% trans "Attachments" %}:<div class='attachments'><ul>{% endif %}
                                    <li><a href='{{ attachment.file.url }}'>{{ attachment.filename }}</a> ({{ attachment.mime_type }}, {{ attachment.size|filesizeformat }})
                                    {% if followup.user and request.user == followup.user %}
                                    <a href="{% url 'helpdesk:attachment_del' ticket.id attachment.id %}"><button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button></a>
                                    {% endif %}
                                    </li>
                                    {% if forloop.last %}</ul></div>{% endif %}
                                {% endfor %}
                            </p>
                            <!--- ugly long test to suppress the following if it will be empty, to save vertical space -->
                            {% with possible=helpdesk_settings.HELPDESK_SHOW_EDIT_BUTTON_FOLLOW_UP %}
                                {% if  possible and followup.user and request.user == followup.user and not followup.ticketchange_set.all or  possible and user.is_superuser and helpdesk_settings.HELPDESK_SHOW_DELETE_BUTTON_SUPERUSER_FOLLOW_UP %}
                                <small>
                                    {% if helpdesk_settings.HELPDESK_SHOW_EDIT_BUTTON_FOLLOW_UP %}
                                        {% if followup.user and request.user == followup.user and not followup.ticketchange_set.all %}
                                        <a href="{% url 'helpdesk:followup_edit' ticket.id followup.id %}" class='followup-edit'><button type="button" class="btn btn-warning btn-sm float-right"><i class="fas fa-edit"></i></button></a>
                                        {% endif %}
                                    {% endif %}
                                    {% if user.is_superuser and helpdesk_settings.HELPDESK_SHOW_DELETE_BUTTON_SUPERUSER_FOLLOW_UP %}
                                        <a href="{% url 'helpdesk:followup_delete' ticket.id followup.id %}" class='followup-edit'><button type="button" class="btn btn-warning btn-sm float-right"><i class="fas fa-trash"></i></button></a>
                                    {% endif %}
                                </small>
                            {% endif %}{% endwith %}
                        </div>
                        <!-- /.list-group-item -->
                    {% endfor %}
                    </div>
                    <!-- /.list-group -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        {% endif %}

        <div class="card mb-3">
            <div class="card-header">{% trans "Respond to this ticket" %}</div>
            <div class="card-body">

        <form method='post' action='update/' enctype='multipart/form-data'>

        <fieldset>
            {% with open_status=1 reopened_status=2 resolved_status=3 closed_status=4 duplicate_status=5 replied_status=6 new_status=7 %}
            <dl>
                <dd>This ticket is currently marked <b>{{ ticket.get_status }}</b>
                {% if ticket.status == open_status or ticket.status == reopened_status or ticket.status == new_status %} and is awaiting a staff update.
                {% elif ticket.status == replied_status %} and is awaiting a response from the submitter or someone copied on the ticket.
                {% elif ticket.status == resolved_status %} and is waiting for the submitter to accept and close the ticket.
                {% else %}.{% endif %}
                </dd>
                {% if not ticket.can_be_resolved %}<dd>{% trans "This ticket cannot be resolved or closed until the tickets it depends on are resolved." %}</dd>{% endif %}

                {% if preset_replies %}
                <dd><label for='id_preset'><b>{% trans "Use a Preset Reply?" %}</b></label>
                <select name='preset' id='id_preset' class='form-control'><option value=''>------</option>{% for preset in preset_replies %}<option value='{{ preset.id }}'>{{ preset.name }}</option>{% endfor %}</select><br/>
                <small>{% trans "Selecting a preset reply will overwrite your comment below. You can then modify the preset reply to your liking before saving this update." %}</small></dd>
                {% endif %}

                
                <dt><label for='commentBox'>{% trans "Comment / Resolution" %}</label></dt>
                <dd>{% include 'helpdesk/include/comment_md_preview.html' %}</dd>
                <dd><small><a href='{{ STATIC_URL }}seed/pdf/Markdown_Cheat_Sheet.pdf' target='_blank' rel='noopener noreferrer' title='ClearlyEnergy Markdown Cheat Sheet'>Markdown syntax</a> allowed, but no raw HTML.</small></dd>
                <dd class='form_help_text'><small>{% trans "You can insert ticket and queue details in your message. For more information, see the <a href='../../help/context/'>context help page</a>." %}</small></dd>

                <dt><label>{% trans "Change Ticket Status" %}</label></dt>
                {% ifequal ticket.status open_status %}
                <dd><div class="form-group"> <!-- Open -->
                    <label for='st_open' class=' radio-inline'><input type='radio' name='new_status' value='{{ open_status }}' id='st_open' checked='checked'>&nbsp;<i>{% trans "Keep ticket open" %}</i></label><br/>
                    <label for='st_replied' class='active radio-inline'><input type='radio' name='new_status' value='{{ replied_status }}' id='st_replied'>&nbsp;{% trans "Mark replied" %}</label><br/>
                    <label for='st_duplicate' class="radio-inline"><input type='radio' name='new_status' value='{{ duplicate_status }}' id='st_duplicate'>&nbsp;{% trans "Mark as duplicate" %}</label><br/>
                    <label for='st_resolved' class="radio-inline"><input type='radio' name='new_status' value='{{ resolved_status }}' id='st_resolved'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}>&nbsp;{% trans "Resolve" %}</label><br/>
                    <label for='st_closed' class="radio-inline"><input type='radio' name='new_status' value='{{ closed_status }}' id='st_closed'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}>&nbsp;{% trans "Close" %}</label>
                </div></dd>
                {% endifequal %}
                {% ifequal ticket.status reopened_status %} <!-- Reopened -->
                <dd><div class="form-group">
                    <label for='st_reopened' class='radio-inline'><input type='radio' name='new_status' value='{{ reopened_status }}' id='st_reopened' checked='checked'>&nbsp;<i>{% trans "Keep ticket reopened" %}</i></label><br/>
                    <label for='st_replied' class='active radio-inline'><input type='radio' name='new_status' value='{{ replied_status }}' id='st_replied'>&nbsp;{% trans "Mark replied" %}</label><br/>
                    <label class="radio-inline" for='st_duplicate'><input type='radio' name='new_status' value='{{ duplicate_status }}' id='st_duplicate'>&nbsp;{% trans "Mark as duplicate" %}</label><br/>
                    <label class="radio-inline" for='st_resolved'><input type='radio' name='new_status' value='{{ resolved_status }}' id='st_resolved'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}>&nbsp;{% trans "Resolve" %}</label><br/>
                    <label class="radio-inline" for='st_closed'><input type='radio' name='new_status' value='{{ closed_status }}' id='st_closed'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}>&nbsp;{% trans "Close" %}</label>
                </div></dd>
                {% endifequal %}
                {% ifequal ticket.status resolved_status %} <!-- Resolved -->
                <dd><div class="form-group">
                    <label for='st_resolved' class='active radio-inline'><input type='radio' name='new_status' value='{{ resolved_status }}' id='st_resolved' checked='checked'>&nbsp;<i>{% trans "No change in status" %}</i></label><br/>
                    <label for='st_reopened' class="radio-inline"><input type='radio' name='new_status' value='{{ reopened_status }}' id='st_reopened'>&nbsp;{% trans "Reopen" %}</label><br/>
                    <label for='st_closed' class="radio-inline"><input type='radio' name='new_status' value='{{ closed_status }}' id='st_closed'>&nbsp;{% trans "Close" %}</label>
                </div></dd>
                {% endifequal %}
                {% ifequal ticket.status closed_status %} <!-- Closed -->
                <dd><div class="form-group">
                    <label for='st_closed' class="radio-inline"><input type='radio' name='new_status' value='{{ closed_status }}' id='st_closed' checked="checked">&nbsp;<i>{% trans "No change in status" %}</i></label><br/>
                    <label for='st_reopened' class="radio-inline"><input type='radio' name='new_status' value='{{ reopened_status }}' id='st_reopened'>&nbsp;{% trans "Reopen" %}</label>
                </div></dd>
                {% endifequal %}
                {% ifequal ticket.status duplicate_status %} <!-- Duplicate -->
                <dd><div class="form-group">
                    <label for='st_closed' class="radio-inline"><input type='radio' name='new_status' value='{{ duplicate_status }}' id='st_duplicate' checked="checked">&nbsp;<i>{% trans "No change in status" %}</i></label><br/>
                    <label for='st_reopened' class="radio-inline"><input type='radio' name='new_status' value='{{ reopened_status }}' id='st_reopened'>&nbsp;{% trans "Reopen" %}</label>
                </div></dd>
				{% endifequal %}
				{% ifequal ticket.status replied_status %} <!-- Replied -->
				<dd><div class="form-group">
                    <label for='st_replied' class="active radio-inline"><input type='radio' name='new_status' value='{{ replied_status }}' id='st_replied' checked='checked'>&nbsp;<i>{% trans "No change in status" %}</i></label><br/>
                    <label for='st_open' class='radio-inline'><input type='radio' name='new_status' value='{{ open_status }}' id='st_open'>&nbsp;{% trans "Set ticket to open (needs attention from staff)" %}</label><br/>
                    <label for='st_duplicate' class="radio-inline"><input type='radio' name='new_status' value='{{ duplicate_status }}' id='st_duplicate'>&nbsp;{% trans "Mark as duplicate" %}</label><br/>
                    <label for='st_resolved' class="radio-inline"><input type='radio' name='new_status' value='{{ resolved_status }}' id='st_resolved'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}>&nbsp;{% trans "Resolve" %}</label><br/>
                    <label for='st_closed' class="radio-inline"><input type='radio' name='new_status' value='{{ closed_status }}' id='st_closed'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}>&nbsp;{% trans "Close" %}</label>
				</div></dd>
                {% endifequal %}
				{% ifequal ticket.status new_status %} <!-- New -->
                <dd><div class="form-group">
                    <label for='st_new' class=' radio-inline'><input type='radio' name='new_status' value='{{ new_status }}' id='st_new' checked='checked'>&nbsp;<i>{% trans "Keep ticket marked 'new'" %}</i></label><br/>
                    <label for='st_replied' class='active radio-inline'><input type='radio' name='new_status' value='{{ replied_status }}' id='st_replied'>&nbsp;{% trans "Mark replied" %}</label><br/>
                    <label for='st_duplicate' class="radio-inline"><input type='radio' name='new_status' value='{{ duplicate_status }}' id='st_duplicate'>&nbsp;{% trans "Mark as duplicate" %}</label><br/>
                    <label for='st_resolved' class="radio-inline"><input type='radio' name='new_status' value='{{ resolved_status }}' id='st_resolved'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}>&nbsp;{% trans "Resolve" %}</label><br/>
                    <label for='st_closed' class="radio-inline"><input type='radio' name='new_status' value='{{ closed_status }}' id='st_closed'{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}>&nbsp;{% trans "Close" %}</label>
                </div></dd>
                {% endifequal %}

                <dd><label for='id_public'><input type='checkbox' id='id_public' name='public' value='1' />&nbsp; <b>{% trans 'Make this update public?' %}</b></label></dd>
                <dd class='form_help_text'>{% trans "If public, an email will be sent to the submitter, primary contact, copied nonusers, and any other email addresses listed on the form.<br>If private, an email will only be sent to the assigned staff owner and internal users. Use this to leave internal comments, questions, and flags. Responses will <i>not</i> be sent to the original sender. " %}</dd>
            </dl>
            {% endwith %}

        <p id='ShowFurtherOptPara'><button class="btn btn-warning btn-sm" id='ShowFurtherEditOptions'>{% trans "Change Further Details &raquo;" %}</button></p>

        <div id='FurtherEditOptions' style='display: none;'>

            <dl>

                <dt>Notes on Notification Emails</dt>
                <dd>- Adding a comment or attachment, or changing the due date, spent time, or priority will all send an update notification.
                    <br>- Changing the status to Reopened, Replied, or Duplicate without changing anything else does not send any notifications.
                    <br>- Changing the status to Resolved and commenting will add a resolution. To change the resolution, Reopen the ticket and then set it to Resolved with a new comment. </dd>


                <dt><label for='id_title'>{% trans "Title" %}</label></dt>
                <dd><input type='text' name='title' value='{{ ticket.title|escape }}' /></dd>

                <dt><label for='id_owner'>{% trans "Owner" %}</label></dt>
                <dd><select id='id_owner' name='owner'><option value='0'>{% trans "Unassign" %}</option>{% for u in active_users %}<option value='{{ u.id }}' {% ifequal u.id ticket.assigned_to.id %}selected{% endifequal %}>{{ u.get_full_name|default:u.get_username }}</option>{% endfor %}</select></dd>

                <dt><label for='id_priority'>{% trans "Priority" %}</label></dt>
                <dd><select id='id_priority' name='priority'>{% for p in priorities %}<option value='{{ p.0 }}'{% ifequal p.0 ticket.priority %} selected='selected'{% endifequal %}>{{ p.1 }}</option>{% endfor %}</select></dd>

                <dt><label for='id_due_date'>{% trans "Due on" %}</label></dt>
                <dd><input type="datetime-local" name="due_date" value="{{ticket.due_date|date:'Y-m-d'}}T{{ticket.due_date|time:'H:i:s'}}"/></dd>

                {% if is_staff %}
                <dt>
                    <label for='id_time_spent'>{% trans "Time spent, in minutes" %}</label>
                </dt>
                <dd><input style="" id='id_time_spent' name='time_spent' type="number" min="0" value="0"/></dd>
                {% endif %}

            </dl>

        </div>

        <p id='ShowFileUploadPara'><button class="btn btn-warning btn-sm" id='ShowFileUpload'>{% trans "Attach File(s) &raquo;" %}</button></p>

        <div id='FileUpload' style='display: none;'>
            <dl>
                <dt><label for='id_file'>{% trans "Attach a File" %}</label></dt>
                <dd>
                    <div class="add_file_fields_wrap">
                        <div><label class='btn btn-primary btn-sm btn-file'>
                                Browse... <input type="file" name='attachment' id='file0' style='display: none;'/>
                        </label><span>&nbsp;</span><span id='selectedfilename0'>{% trans 'No files selected.' %}</span></div>
                        <button class="add_file_field_button btn btn-success btn-xs">{% trans "Add Another File" %}</button>
                    </div>
                </dd>
            </dl>
        </div>

        </fieldset>
        <button class="btn btn-primary float-right" type='submit'>{% trans "Update This Ticket" %}</button>
        {% csrf_token %}
        </form></div>
        </div>
    {% endif %}
{% endblock %}


{% block helpdesk_js %}
<script type='text/javascript' language='javascript'>
$( function() {
	$( "#id_due_date" ).datepicker({dateFormat: 'yy-mm-dd'});
} );
</script>

<script type='text/javascript' language='javascript'>
$(document).ready(function() {
    $("#ShowFurtherEditOptions").click(function() {
        $("#FurtherEditOptions").toggle();
        return false;
    });

    $("#ShowFileUpload").click(function() {
        $("#FileUpload").fadeIn();
        $("#ShowFileUploadPara").hide();
        return false;
    });

    $('#id_preset').change(function() {
        preset = $('#id_preset').val();
        if (preset != '') {
            $.get("{% url 'helpdesk:raw' "preset" %}?id=" + preset, function(data) {
                $("#commentBox").val(data)
            });
        }
    });

    $("[data-toggle=tooltip]").tooltip();

    // lists for file input change events, then updates the associated text label
    // with the file name selected
    $('.add_file_fields_wrap').on('fileselect', ':file', function(event, numFiles, label, browseButtonNum, files) {
        for (let i=files.length - 1; i >= 0; i--) {
            if (files[i].size >= {{ helpdesk_settings.HELPDESK_MAX_EMAIL_ATTACHMENT_SIZE }}) {
                alert("File size exceeds " + {{ helpdesk_settings.HELPDESK_MAX_EMAIL_ATTACHMENT_SIZE }}/1000 + "kB. The file will be uploaded to the ticket, but will not be emailed out.");
            }
            $("#selectedfilename"+browseButtonNum).html(label);
        };
    });

    var x = 0;
    var wrapper         = $(".add_file_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_file_field_button"); //Add button ID

    $(add_button).click(function(e){ //on add input button click
        x++;
        e.preventDefault();
        $("<div><label class='btn btn-primary btn-sm btn-file'>Browse... <input type='file' name='attachment' id='file" + x + "' multiple style='display: none;'/></label><span>&nbsp;</span><span id='selectedfilename" + x + "'>{% trans 'No files selected.' %}</span></div>").insertBefore(add_button); //add input box
    });

});

// this function listens for changes on any file input, and
// emits the appropriate event to update the input's text.
// Needed to have properly styled file input buttons! (this really shouldn't be this hard...)
$(document).on('change', ':file', function() {
    var input = $(this),
        inputWidgetNum = $(this).attr('id').split("file")[1],
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, ''),
        files = input.get(0).files ? input.get(0).files : [];
    input.trigger('fileselect', [numFiles, label, inputWidgetNum, files]);
});
</script>
{% endblock %}
