{% load i18n %}
{% load saved_queries %}
{% load load_helpdesk_settings %}
{% load static %}

{% with request|load_helpdesk_settings as helpdesk_settings %}
  {% with user|saved_queries as user_saved_queries_ %}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Helpdesk system for ticket based support" />
    <meta name="author" content="Django Helpdesk Team" />
    {# Bootstrap Core CSS #}
    {% if helpdesk_settings.HELPDESK_USE_CDN %}
      <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous" />
    {% else %}
      <link href="{% static 'helpdesk/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    {% endif %}

    {# Font Awesome #}
    <link href="{% static 'helpdesk/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />

    {# DataTables CSS #}
    <link href="{% static 'helpdesk/vendor/datatables/css/dataTables.bootstrap5.css' %}" rel="stylesheet" />
    <link href="{% static 'helpdesk/vendor/datatables/css/buttons.dataTables.css' %}" rel="stylesheet" />

    {# MetisMenu CSS #}
    <link href="{% static 'helpdesk/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet" />

    {# Morris Charts CSS #}
    {% if helpdesk_settings.HELPDESK_USE_CDN %}
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />
    {% else %}
      <link href="{% static 'helpdesk/vendor/morrisjs/morris.css' %}" rel="stylesheet" />
    {% endif %}

    {# Custom CSS #}
    <link href="{% static 'helpdesk/css/sb-admin.css' %}" rel="stylesheet" />
    <link rel='stylesheet' href='{% static "helpdesk/helpdesk-extend.css" %}' type='text/css'  media="screen" />

    {% if user.id %}
      {# RSS #}
      <link rel="alternate"
            href="{% url 'helpdesk:rss_user' user.get_username %}"
            type="application/rss+xml"
            title="{% translate "My Open Tickets" %}" />
      <link rel="alternate"
            href="{% url 'helpdesk:rss_activity' %}"
            type="application/rss+xml"
            title="{% translate "All Recent Activity" %}" />
      <link rel="alternate"
            href="{% url 'helpdesk:rss_unassigned' %}"
            type="application/rss+xml"
            title="{% translate "Unassigned Tickets" %}" />
    {% endif %}
  {% endwith %}
{% endwith %}
