{% extends "helpdesk/base.html" %}

{% load i18n %}

{% block helpdesk_title %}
  {% translate "Delete Ignored E-Mail Address" %}
{% endblock helpdesk_title %}

{% block helpdesk_breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'helpdesk:list' %}">{% translate "Tickets" %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'helpdesk:email_ignore' %}">{% translate "Ignore E-Mail Address" %}</a>
  </li>
  <li class="breadcrumb-item active">{% translate "Delete" %}</li>
{% endblock helpdesk_breadcrumb %}

{% block helpdesk_body %}
  <div class="row">
    <div class="col-12 col-md-8 col-lg-4 mx-auto">
      <div class="card">
        <div class="card-header">
          <h2 class="fs-5 mb-0">{% translate "Delete Ignored E-Mail Address" %}</h2>
        </div>
        <div class="card-body">
          <p>
            {% blocktranslate with ignore.email_address as email_address %}
            Remove <em>({{ email_address }})</em> from the ignore list?
            {% endblocktranslate %}
          </p>
          <p class="text-body-secondary">{% translate "This will allow them to create tickets. You can re-add this e-mail again anytime." %}</p>
          <form method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-end">
              <a class="btn bg-body-tertiary border me-2"
                 type="button"
                 role="button"
                 href="{% url "helpdesk:email_ignore" %}">{% translate "Cancel" %}</a>
              <button class="btn btn-danger" type="submit">{% translate "Delete" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock helpdesk_body %}
