{% extends "helpdesk/base.html" %}

{% load i18n %}

{% block title %}
  {% translate "Context Reference" %}
{% endblock title %}

{% block helpdesk_breadcrumb %}
  <li class="breadcrumb-item">
    <a href="/">{% translate "Home" %}</a>
  </li>
  <li class="breadcrumb-item active">{% translate "Contextual Overview" %}</li>
{% endblock helpdesk_breadcrumb %}

{% block helpdesk_body %}
  <article class="mx-4">
    <h1>{% translate "Contextual Reference" %}</h1>
    <p class="lead">
      {% translate "django-helpdesk provides a powerful way for you to embed fields from the current ticket or queue into your comments and ticket resolutions using a template language. It does this by leveraging the capabilities of Django's templating system with a sandboxed template context. Read more about" %} <a href="https://docs.djangoproject.com/en/dev/topics/templates/#variables" target="_blank">Django templating system</a>
    </p>
    <div class="alert alert-light" role="alert">
      <h4 class="alert-heading" id="usage">{% translate "Inserting Fields" %}</h4>
      <p>{% translate "For example, you may want to place the last escalation date into a ticket comment, or reproduce the original description sent to you by the submitter." %}</p>
      <hr />
      <p class="mb-0">
        {% translate "In your comment, enter the field name surrounded by double curly braces. For example, to get the ticket title, use:" %}
        <code>{% verbatim %} {{ ticket.title }}{% endverbatim %}</code>
      </p>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" id="queue">{% translate "Queue Fields" %}</h5>
            <p class="text-body-secondary mb-0">{% translate "The following fields are available in the template context to display the details of the queue to which this ticket belongs. Ex: to get the email address of the queue in your comment use" %} <code>{% verbatim %}{{ queue.email_address }}{% endverbatim %}</code></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="queue_title">
              <p class="fw-medium mb-0">queue.title</p>
              {% translate "The display title of the queue" %}
            </li>
            <li class="list-group-item" id="queue_slug">
              <p class="fw-medium mb-0">queue.slug</p>
              {% translate "The 'slug' of the queue, a single-word lowercase identifier used in urls and e-mail subjects." %}
            </li>
            <li class="list-group-item" id="queue_email_address">
              <p class="fw-medium mb-0">queue.email_address</p>
              {% translate "The e-mail address to which users can send an e-mail to open a new ticket automatically." %}
            </li>
            <li class="list-group-item" id="queue_from_address">
              <p class="fw-medium mb-0">queue.from_address</p>
              {% translate "The e-mail address from which the queue will send e-mails to submitters." %}
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" id="ticket">{% translate "Ticket Fields" %}</h5>
            <p class="text-body-secondary mb-0">{% translate "The following fields are available in the template context to display the details of a ticket. Ex: to get submitter email use" %} <code>{% verbatim %} {{ ticket.submitter_email }} {% endverbatim %}</code></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="ticket_title">
              <p class="fw-medium mb-0">ticket.title</p>
              {% translate "Title of the ticket, as provided by the submitter. A single line of text." %}
            </li>
            <li class="list-group-item" id="ticket_created">
              <p class="fw-medium mb-0">ticket.created</p>
              {% translate "The time/date this ticket was first opened" %}
            </li>
            <li class="list-group-item" id="ticket_modified">
              <p class="fw-medium mb-0">ticket.modified</p>
              {% translate "The time/date this ticket was most recently changed" %}
            </li>
            <li class="list-group-item" id="ticket_submitter_email">
              <p class="fw-medium mb-0">ticket.submitter_email</p>
              {% translate "E-Mail address of the ticket submitter" %}
            </li>
            <li class="list-group-item" id="ticket_status">
              <p class="fw-medium mb-0">ticket.status</p>
              {% translate "Status of this ticket (Integer)" %}
            </li>
            <li class="list-group-item" id="ticket_get_status_display">
              <p class="fw-medium mb-0">ticket.get_status_display</p>
              {% translate "Status of this ticket (Text-based)" %}
            </li>
            <li class="list-group-item" id="ticket_get_status">
              <p class="fw-medium mb-0">ticket.get_status</p>
              {% translate "Status of this ticket (Text-based, includes 'On Hold' if required)" %}
            </li>
            <li class="list-group-item" id="ticket_on_hold">
              <p class="fw-medium mb-0">ticket.on_hold</p>
              {% translate "Indicates whether this ticket is on hold (True/False)" %}
            </li>
            <li class="list-group-item" id="ticket_description">
              <p class="fw-medium mb-0">ticket.description</p>
              {% translate "The description of the ticket, eg the body of the e-mail sent or the problem entered by the submitter" %}
            </li>
            <li class="list-group-item" id="ticket_resolution">
              <p class="fw-medium mb-0">ticket.resolution</p>
              {% translate "The resolution of the ticket provided by staff. This may be blank." %}
            </li>
            <li class="list-group-item" id="ticket_priority">
              <p class="fw-medium mb-0">ticket.priority</p>
              {% translate "The priority of this ticket (1-5, Integer only)" %}
            </li>
            <li class="list-group-item" id="ticket_get_priority_display">
              <p class="fw-medium mb-0">ticket.get_priority_display</p>
              {% translate "The priority of this ticket (Text-based)" %}
            </li>
            <li class="list-group-item" id="ticket_last_escalation">
              <p class="fw-medium mb-0">ticket.last_escalation</p>
              {% translate "The time/date this ticket was last escalated" %}
            </li>
            <li class="list-group-item" id="ticket_ticket">
              <p class="fw-medium mb-0">ticket.ticket</p>
              {% translate "The ticket ID in form '[queue_slug-id]', used in e-mail subjects." %}
            </li>
            <li class="list-group-item" id="ticket_ticket_for_url">
              <p class="fw-medium mb-0">ticket.ticket_for_url</p>
              {% translate "The ticket ID in form 'queue_slug-id', used in URLs" %}
            </li>
            <li class="list-group-item" id="ticket_ticket_url">
              <p class="fw-medium mb-0">ticket.ticket_url</p>
              {% translate "Public URL for this ticket" %}
            </li>
            <li class="list-group-item" id="ticket_staff_url">
              <p class="fw-medium mb-0">ticket.staff_url</p>
              {% translate "Staff-only URL for this ticket" %}
            </li>
            <li class="list-group-item" id="ticket_assigned_to">
              <p class="fw-medium mb-0">ticket.assigned_to</p>
              {% translate "Name of the staff member assigned to this ticket, or 'Unassigned' if it is unassigned." %}
            </li>
            <li class="list-group-item" id="ticket_queue">
              <p class="fw-medium mb-0">ticket.queue</p>
              {% translate "Another dictionary of queue information, identical to queue above. For example, use" %}
              <code>{% verbatim %} {{ ticket.queue.title }}{% endverbatim %}</code>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
{% endblock helpdesk_body %}
