{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% translate "Delete Ticket Dependency" %}{% endblock %}

{% block helpdesk_breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'helpdesk:list' %}">{% translate "Tickets" %}</a>
</li>
<li class="breadcrumb-item">
    <a href="{{ dependency.ticket.get_absolute_url }}">{{ dependency.ticket.queue.slug }}-{{ dependency.ticket.id }}</a>
</li>
<li class="breadcrumb-item active">{% translate "Delete Ticket Dependency" %}</li>
{% endblock %}

{% block helpdesk_body %}{% blocktranslate %}
<h2>Delete Ticket Dependency</h2>

<p>Are you sure you wish to remove the dependency on this ticket?</p>
{% endblocktranslate %}

<p><a href='{{ dependency.ticket.get_absolute_url }}'><button class="btn btn-primary btn-lg">{% translate "Don't Delete" %}</button></a></p>

<form method='post' action='./'>
    <button class="btn btn-danger" type='submit'>{% translate "Yes, I Understand - Delete" %}</button>
{% csrf_token %}</form>
{% endblock %}
