<html>
<head>
<title>{% block helpdesk_title %}Helpdesk{% endblock %}</title>
<script src='{{ MEDIA_URL }}/helpdesk/jquery.js' type='text/javascript' language='javascript'></script>
<link rel='stylesheet' href='{{ MEDIA_URL }}/helpdesk/helpdesk.css' type='text/css' />
{% block helpdesk_head %}{% endblock %}
</head>
<body>
<div id='container'>
    <div id='header'>
        <h1>Helpdesk</h1>
        <ul>
            <li><a href='{% url helpdesk_home %}'>Dashboard</a></li>
            <li><a href='{% url helpdesk_list %}'>Tickets</a></li>
            <li><a href='{% url helpdesk_submit %}'>Submit Ticket</a></li>
            <li><a href='{% url logout %}'>Logout</a></li>
            {% if not query %}<li><form method='get' action='{% url helpdesk_list %}'><input type='text' name='q' size='10' /><input type='hidden' name='status' value='1' /><input type='hidden' name='status' value='2' /><input type='hidden' name='status' value='3' /><input type='submit' value='Search' /></form></li>{% endif %}
        </ul>
    </div>
    <div id='body'>
{% block helpdesk_body %}{% endblock %}
    </div>
    <div id='footer'>
        <p>Powered by <a href='http://www.jutda.com.au/'>Jutda HelpDesk</a>. <a href='{% url helpdesk_rss_index %}'><img src='{{ MEDIA_URL }}/helpdesk/rss_icon.png' width='14' height='14' alt='RSS Icon' title='RSS Feeds' border='0' />RSS Feeds</a></p>
    </div>
</div>{% include "helpdesk/debug.html" %}
</body>
</html>
