{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block helpdesk_title %}Helpdesk{% endblock %} :: {% trans "Powered by Jutda Helpdesk" %}</title>
        <script src='{{ MEDIA_URL }}helpdesk/jquery-1.3.2.min.js' type='text/javascript' language='javascript'></script>
        <script src='{{ MEDIA_URL }}helpdesk/jquery-ui-1.7.2.custom.min.js' type='text/javascript' language='javascript'></script>
        <link rel='stylesheet' href='{{ MEDIA_URL }}helpdesk/helpdesk.css' type='text/css' />
        <link rel='stylesheet' href='{{ MEDIA_URL }}helpdesk/jquery-smoothness-theme/jquery-ui-1.7.2.custom.css' type='text/css' />
        <link rel='alternate' href='{% url helpdesk_rss "user" %}{{ user.username }}/' type='application/rss+xml' title='{% trans "My Open Tickets" %}' />
        <link rel='alternate' href='{% url helpdesk_rss "recent_activity" %}' type='application/rss+xml' title='{% trans "All Recent Activity" %}' />
        <link rel='alternate' href='{% url helpdesk_rss "unassigned" %}' type='application/rss+xml' title='{% trans "Unassigned Tickets" %}' />
        {% block helpdesk_head %}{% endblock %}
    </head>
    <body>
        <div id='container'>
            <div id='header'>
                <h1>{% trans "Helpdesk" %}</h1>
                <ul>
                    <li><a href='{% url helpdesk_dashboard %}'>{% trans "Dashboard" %}</a></li>
                    <li><a href='{% url helpdesk_list %}'>{% trans "Tickets" %}</a></li>
                    <li><a href='{% url helpdesk_submit %}'>{% trans "New Ticket" %}</a></li>
                    <li><a href='{% url helpdesk_report_index %}'>{% trans "Stats" %}</a></li>
                    <li><a href='{% url logout %}'>{% trans "Logout" %}</a></li>
                    {% if not query %}<li><form id='searchform' method='get' action='{% url helpdesk_list %}'><input type='text' name='q' size='10' class='input' value='{% trans "Search..." %}' id='search_query' onFocus='s=document.getElementById("search_query");if (s.value == "{% trans "Search..." %}") { s.value = ""; }' title='{% trans "Enter a keyword, or a ticket number to jump straight to that ticket." %}'/><input type='hidden' name='status' value='1' /><input type='hidden' name='status' value='2' /><input type='hidden' name='status' value='3' /><input type='hidden' name='search_type' value='header' /></form></li>{% endif %}
                </ul>
            </div>
            <div id='body'>
                {% block helpdesk_body %}{% endblock %}
            </div>
            <div id='footer'>
                <p>{% trans "Powered by <a href='http://www.jutdahelpdesk.com/'>Jutda Helpdesk</a>." %} {% if user.is_staff %}{% load svn_revision %}{% helpdesk_svn_revision %}{% endif %} <a href='{% url helpdesk_rss_index %}'><img src='{{ MEDIA_URL }}helpdesk/rss_icon.png' width='14' height='14' alt='{% trans "RSS Icon" %}' title='{% trans "RSS Feeds" %}' border='0' />{% trans "RSS Feeds" %}</a> <a href='{% url helpdesk_api_help %}'>{% trans "API" %}</a> <a href='{% url helpdesk_user_settings %}'>{% trans "User Settings" %}</a> {% if user.is_superuser %}<a href='{% url helpdesk_system_settings %}'>{% trans "System Settings" %}</a>{% endif %}</p>
            </div>
        </div>
        {% include "helpdesk/debug.html" %}
    </body>
</html>
