{% extends "helpdesk/base.html" %}
{% block helpdesk_title %}Helpdesk{% endblock %}
{% block helpdesk_head %}{% load markup %}
<script src="http://media.jutda.com.au/helpdesk/nicEdit.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        nic = new nicEditor({buttonList: ['bold','italic','underline','strikeThrough','undo','redo','subscript','superscript','html']}).panelInstance('commentBox');
        $("#ShowFurtherEditOptions").click(function() {
            $("#FurtherEditOptions").toggle();
            return false;
        });
        $('#id_preset').change(function() {
            preset = $('#id_preset').val();
            if (preset != '') {
                $.get("{% url helpdesk_raw "preset" %}?id=" + preset, function(data) {
                    nic.nicInstances[0].setContent(data);
                });
            }
        });
    });
</script>
<style type='text/css'>#commentBox { width: 100%; }</style>
{% endblock %}

{% block helpdesk_body %}

<table width='100%'>
<tr class='row_tablehead'><td>{{ ticket.id }}. {{ ticket.title }} [{{ ticket.get_status_display }}]</td><td align='right'><a href='#edit'><img src='{{ MEDIA_URL }}/helpdesk/buttons/edit.png' alt='Edit' title='Edit' width='60' height='15' /></a><a href='?delete'><img src='{{ MEDIA_URL }}/helpdesk/buttons/delete.png' alt='Delete' title='Delete' width='60' height='15' /></a></td></tr>
<tr class='row_columnheads'><td colspan='2'>Queue: {{ ticket.queue }}</td></tr>

<tr class='row_odd'>
    <th>Submitted On</th>
    <td>{{ ticket.created|date:"r" }} ({{ ticket.created|timesince }} ago)</td>
</tr>

<tr class='row_even'>
    <th>Assigned To</th>
    <td>{{ ticket.get_assigned_to }}{% ifequal ticket.get_assigned_to 'Unassigned' %} <strong><a href='?take'><img src='{{ MEDIA_URL }}/helpdesk/buttons/take.png' width='60' height='15' alt='Take' title='Assign this ticket to yourself' /></a></strong>{% endifequal %}</td>
</tr>

<tr class='row_odd'>
    <th>Submitter E-Mail</th>
    <td>{{ ticket.submitter_email }}</td>
</tr>

<tr class='row_even'>
    <th>Priority</th>
    <td>{{ ticket.get_priority_display }}</td>
</tr>

<tr class='row_odd'>
    <th colspan='2'>Description</th>
</tr>
<tr class='row_even'>
    <td colspan='2'>{{ ticket.description }}</td>
</tr>

{% if ticket.resolution %}<tr class='row_odd'>
    <th colspan='2'>Resolution{% ifequal ticket.get_status_display "Resolved" %} <a href='?close'><img src='{{ MEDIA_URL }}/helpdesk/buttons/accept.png' alt='Accept' title='Accept and Close' width='60' height='15' /></a>{% endifequal %}</th>
</tr>
<tr class='row_even'>
    <td colspan='2'>{{ ticket.resolution }}</td>
</tr>{% endif %}

</table>

{% if ticket.followup_set.all %}
<h3>Follow-Ups</h3>
{% load ticket_to_link %}
{% for followup in ticket.followup_set.all %}
<div class='followup'>
<div class='title'>{{ followup.title }} <span class='byline'>by {{ followup.user }} <span title='{{ followup.date|date:"r" }}'>{{ followup.date|timesince }} ago</span>{% if not followup.public %} <span class='private'>(Private)</span>{% endif %}</span></div>
{{ followup.comment|markdown|num_to_link }}
{% if followup.ticketchange_set.all %}<div class='changes'>
{% for change in followup.ticketchange_set.all %}
Changed {{ change.field }} from {{ change.old_value }} to {{ change.new_value }}.<br />
{% endfor %}
</div>{% endif %}
</div>
{% endfor %}
{% endif %}

<form method='post' action='update/'>
<h3>Respond to this ticket</h3>

<label for='id_preset'>Use a Pre-set Reply</label> <select name='preset' id='id_preset'><option value=''>------</option>{% for preset in preset_replies %}<option value='{{ preset.id }}'>{{ preset.name }}</option>{% endfor %}</select>

<textarea rows='8' cols='70' name='comment' id='commentBox'></textarea>
<p>New Status
{% ifequal ticket.status 1 %}
<input type='radio' name='new_status' value='1' id='st_open' checked='checked'><label for='st_open' class='active'>Open</label> &raquo;
<input type='radio' name='new_status' value='3' id='st_resolved'><label for='st_resolved'>Resolved</label> &raquo;
<input type='radio' name='new_status' value='4' id='st_closed'><label for='st_closed'>Closed</label>
{% endifequal %}
{% ifequal ticket.status 2 %}
<input type='radio' name='new_status' value='2' id='st_reopened' checked='checked'><label for='st_reopened' class='active'>Reopened</label> &raquo; 
<input type='radio' name='new_status' value='3' id='st_resolved'><label for='st_resolved'>Resolved</label> &raquo; 
<input type='radio' name='new_status' value='4' id='st_closed'><label for='st_closed'>Closed</label>
{% endifequal %}
{% ifequal ticket.status 3 %}
<input type='radio' name='new_status' value='2' id='st_reopened'><label for='st_reopened'>Reopened</label> &laquo; 
<input type='radio' name='new_status' value='3' id='st_resolved' checked='checked'><label for='st_resolved' class='active'>Resolved</label> &raquo; 
<input type='radio' name='new_status' value='4' id='st_closed'><label for='st_closed'>Closed</label>
{% endifequal %}

{% ifequal ticket.status 4 %}
<input type='radio' name='new_status' value='2' id='st_reopened'><label for='st_reopened'>Reopened</label> &laquo; 
<input type='radio' name='new_status' value='4' id='st_closed' checked='checked'><label for='st_closed'>Closed</label>
{% endifequal %}

<p><a href='#' id='ShowFurtherEditOptions'>Change Other Details</a></p>

<div id='FurtherEditOptions' style='display: none;'>

<label for='id_title'>Title</label>
<input type='text' name='title' value='{{ ticket.title|escape }}' />

<label for='id_owner'>Owner</label>
<select id='id_owner' name='owner'><option value='0'>Unassign</option>{% for u in active_users %}<option value='{{ u.id }}' {% ifequal u.id ticket.assigned_to.id %}selected{% endifequal %}>{{ u }}</option>{% endfor %}</select>

<label for='id_priority'>Priority</label>
<select id='id_priority' name='priority'>{% for p in priorities %}<option value='{{ p.0 }}'{% ifequal p.0 ticket.priority %} selected='selected'{% endifequal %}>{{ p.1 }}</option>{% endfor %}</select>

</div>

<label for='id_public'>Is this update public?</label> <input type='checkbox' name='public' value='1' checked='checked' />

<input type='submit' value='Add' />

</form>


{% endblock %}
