{% load i18n humanize %}
{% load static %}
{% load in_list %}
<div class="query-filter-group">
    <a class="dropdown-title" data-toggle="collapse" href="#kbitem-collapse" aria-expanded="false" aria-controls="kbitem-collapse">
        <span>{% trans "Knowledgebase Item" %}</span>
        <span class="query-counter badge badge-pill badge-secondary"></span>
        <i class="fas fa-chevron-down" style="float:right;"></i>
    </a>
    <div class="collapse" id="kbitem-collapse">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="kb" value="-1" {% if -1|in_list:query_params.filtering.kbitem__in %}checked{% endif %}>
            <label class="form-check-label">Uncategorized</label>
        </div>
        {% for s in kb_item_choices %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="kb" value="{{ s.id }}" {% if s.id|in_list:query_params.filtering.kbitem__in %}checked{% endif %}>
            <label class="form-check-label">{{ s.category__title }}: {{ s.title }}</label>
        </div>
        {% endfor %}
    </div>
</div>