{% load i18n %}
<div class="query-filter-group">
    <a class="dropdown-title" data-toggle="collapse" href="#last-reply-collapse" aria-expanded="false" aria-controls="last-reply-collapse">
        <span>{% trans "Latest Reply Date" %}</span>
        <span class="query-on"><i class="fas fa-toggle-on"></i></span>
        <i class="fas fa-chevron-down" style="float:right;"></i>
    </a>
    <div class="collapse" id="last-reply-collapse">
        <div class="input-group">
            <div style="float:left;">
                <label for="reply-date-start" style="margin-bottom:0px;"><small>Start</small></label>
                <input id="reply-date-start"  class="form-control" type='date' name='last_reply_from' value='{{ query_params.filtering.last_reply__gte }}' placeholder="From" id='id_last_reply_from' style="max-width:100%" />
            </div>
            <div style="float:left;">
                <label for="reply-date-end" style="margin-bottom:0px;"><small>End</small></label>
                <input id="reply-date-end"  class="form-control" type='date' name='last_reply_to' value='{{ query_params.filtering.last_reply__lte }}' placeholder="To" id='id_last_reply_to' style="max-width:100%" />
            </div>
        </div>
    </div>
</div>
