{% load i18n humanize %}
{% load static %}
{% load in_list %}
<div class="query-filter-group">
    <a class="dropdown-title" data-toggle="collapse" href="#owner-collapse" aria-expanded="false" aria-controls="owner-collapse">
        <span>{% trans "Owner" %}</span>
        <span class="query-counter badge badge-pill badge-secondary"></span>
        <i class="fas fa-chevron-down" style="float:right;"></i>
    </a>
    <div class="collapse" id="owner-collapse">
        {% with magic_number=-1 %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="assigned_to" value="{{ magic_number }}" {% if magic_number|in_list:query_params.filtering.assigned_to__id__in %}checked{% endif %}>
            <label class="form-check-label">{% trans "Unassigned" %}</label>
        </div>
        {% endwith %}
        {% for u in user_choices %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="assigned_to" value="{{ u.id }}" {% if u.id|in_list:query_params.filtering.assigned_to__id__in %}checked{% endif %}>
            <label class="form-check-label">{{ u.get_full_name|default:u.get_username }}{% ifequal u user %} {% trans "(ME)" %}{% endifequal %}</label>
        </div>
        {% endfor %}
    </div>
</div>