{% load i18n humanize %}
{% load static %}
{% load in_list %}
<div class="query-filter-group">
    <a class="dropdown-title" data-toggle="collapse" href="#priority-collapse" aria-expanded="false" aria-controls="priority-collapse">
        <span>{% trans "Priority" %}</span>
        <span class="query-counter badge badge-pill badge-primary"></span>
        <i class="fas fa-chevron-down" style="float:right;"></i>
    </a>
    <div class="collapse" id="priority-collapse">
        {% for p in priority_choices %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="priority" value="{{ p.0 }}" {% if p.0|in_list:query_params.filtering.priority__in %}checked{% endif %}>
            <label class="form-check-label">{{ p.1 }}</label>
        </div>
        {% endfor %}
    </div>
</div>
