{% load i18n humanize %}
{% load static %}

<div class="query-sort-group">
    <a class="dropdown-title">
        <span>{% trans "Sort by" %}</span>
    </a>
</div>

<div class="form-row flex-fill align-self-center">
    <div class="input-group">
        <!-- TODO Make this a Dynamic List of All the Columns. Show extra_data columns if only 1 queue is selected -->
        <select id='id_sort' name='sort' class="custom-select">
            <option value='created'{% if query_params.sorting == "created" %} selected='selected'{% endif %}>
                {% trans "Created" %}
            </option>
            <option value='last_reply'{% if query_params.sorting == "last_reply" %} selected='selected'{% endif %}>
                {% trans "Last Reply" %}
            </option>
            <option value='title'{% if query_params.sorting == "title" %} selected='selected'{% endif %}>
                {% trans "Title" %}
            </option>
            <option value='queue'{% if query_params.sorting == "queue" %} selected='selected'{% endif %}>
                {% trans "Queue" %}
            </option>
            <option value='status'{% if query_params.sorting == "status" %} selected='selected'{% endif %}>
                {% trans "Status" %}
            </option>
            <option value='priority'{% if query_params.sorting == "priority" %} selected='selected'{% endif %}>
                {% trans "Priority" %}
            </option>
            <option value='assigned_to'{% if query_params.sorting == "assigned_to" %} selected='selected'{% endif %}>
                {% trans "Owner" %}
            </option>
            <option value='paired_count'{% if query_params.sorting == "paired_count" %} selected='selected'{% endif %}>
                {% trans "Paired Count" %}
            </option>
        </select>
        <div class="input-group-append">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-secondary" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                    <input type='checkbox' name='desc' id='id_sortreverse' {% if query_params.desc %} checked='checked'{% endif %} />
                    <i id="sort_asc" class="fas fa-sort-amount-down-alt" {% if query_params.desc %}style="display:none;"{% endif %}></i>
                    <i id="sort_desc" class="fas fa-sort-amount-up-alt" {% if not query_params.desc %}style="display:none;"{% endif %}></i>
                </label>
            </div>
        </div>
    </div>
</div>
