{% load i18n humanize %}
{% load static %}
{% load in_list %}
<div class="query-filter-group">
    <a class="dropdown-title" data-toggle="collapse" href="#ticketform-collapse" aria-expanded="false" aria-controls="ticketform-collapse">
        <span>{% trans "Form" %}</span>
        <span class="query-counter badge badge-pill badge-secondary"></span>
        <i class="fas fa-chevron-down" style="float:right;"></i>
    </a>
    <div class="collapse" id="ticketform-collapse">
        {% for f in form_choices %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="ticket_form" value="{{ f.id }}" {% if f.id|in_list:query_params.filtering.ticket_form__id__in %}checked{% endif %}>
            <label class="form-check-label">{{ f.name }}</label>
        </div>
        {% endfor %}
    </div>
</div>

