<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#edit">Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#preview" onclick="updatePreview()">Preview</a>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content" style='max-height: 50vh; overflow-y: auto'>
        <div id="edit" class="tab-pane active">
            {% include "django/forms/widgets/textarea.html" with widget=widget %}
        </div>
        <div id="preview" class="tab-pane">
            <div id="{{widget.name}}_md_preview"></div>
        </div>
    </div>
</div>

<script type='text/javascript' language='javascript'>
    function updatePreview() {
        $.ajax({
            data: {md: $('#id_{{widget.name}}').val()},
            url: "{% url 'helpdesk:preview_markdown'  %}",

            success: function(response) {
                $('#{{widget.name}}_md_preview').html(response['md_html'])
            },
        });
    }
</script>