<div class="row">
    <div class="col-md-6">
        {% include "django/forms/widgets/textarea.html" with widget=widget %}
    </div>
    <div class="col-md-6 mt-md-0 mt-2">
        <div id="preview_card" class="card px-1 py-1 h-100" style="overflow: auto;">
            <div id="{{widget.name}}_md_preview"></div>
        </div>
    </div>
</div>

<script type='text/javascript' language='javascript'>
    $(document).ready(function () {
        updateMaxHeight();
        updatePreview();
        $('#id_{{widget.name}}').on({'keyup': updatePreview, 'mouseup mousemove': updateMaxHeight});
    });

    function updatePreview() {
        $.ajax({
            data: {md: $('#id_{{widget.name}}').val()},
            url: "{% url 'helpdesk:preview_markdown'  %}",

            success: function(response) {
                console.log(response)
                $('#{{widget.name}}_md_preview').html(response['md_html'])
            },
        });
    }

    function updateMaxHeight() {
        $('#preview_card').css({'max-height': document.getElementById('id_{{widget.name}}').clientHeight});
    }
</script>