<div id="id_{{widget.name}}" class="card">
    <div id="{{widget.name}}_pairs" class="card-body">
        <div id="pair_0" class="row">
            {% for subwidget in widget.subwidgets %}
            <div class="mb-2 col-md-5">
                {% include subwidget.template_name with widget=subwidget %}
            </div>
            {% if forloop.counter|divisibleby:2 %}
            <div class="mb-2 col-md-2">
                <a><button id="{{ widget.name }}_0_delete" type="button" class="btn btn-danger float-right delete_pair"><i class="fa fa-times"></i></button></a>
            </div>
            {% endif %}

            {% endfor %}
        </div>
    </div>
    <div class="card-footer">
        <a><button id="{{ widget.name }}_pair" type="button" class="btn btn-primary float-right"><i class="fa fa-plus mr-1"></i>Add</button></a>
    </div>
</div>


<script type='text/javascript' language='javascript'>
    var num_pairs = 1;

    $('#id_{{widget.name}}').on('click', '.delete_pair', function(obj) {
        var pairs = $('#{{ widget.name }}_pairs');
        if (pairs.children().length == 1) {
            return;
        }
        var e = $(obj.currentTarget);
        var id = e.attr('id').replace('{{ widget.name }}_', '').replace('_delete', '')
        id = parseInt(id)
        e.parents('#pair_' + id).remove();

        // Rename all the inputs to be in order
        pairs = $('#{{ widget.name }}_pairs').children();
        pairs.each(function (i, child) {
            const child_index = i * 2
            $(child).find('select').attr('id', 'id_{{ widget.name }}_' + child_index).attr('name', '{{ widget.name }}_' + child_index);
            $(child).find('input').attr('id', 'id_{{ widget.name }}_' + (child_index + 1)).attr('name', '{{ widget.name }}_' + (child_index + 1));
            $(child).find('button').attr('id', 'id_{{ widget.name }}_' + i + '_delete').attr('name', '{{ widget.name }}_' + i + '_delete');
        });
    });

    $("#{{ widget.name }}_pair").on('click', function(a) {
        // Create new input elements and append it to the input container

        // Following only for CO Form
        // TODO: add ability to remove options that have already been selected
        // TODO: make Primary Property type the default first one and make it non-removable
        const pairs = $('#{{ widget.name }}_pairs');
        const base_pair = pairs.children().first();
        var new_input_num = num_pairs * 2;

        var row = $('<div>', {'class': 'row', 'id': 'pair_' + num_pairs})
        var new_choice = base_pair.children().first().clone();
        new_choice.children().attr('id', 'id_{{ widget.name }}_' + new_input_num).attr('name', '{{ widget.name }}_' + new_input_num);
        row.append(new_choice);

        var new_input = base_pair.children().eq(1).clone();
        new_input_num++;
        new_input.children().attr('id', 'id_{{ widget.name }}_' + new_input_num).attr('name', '{{ widget.name }}_' + new_input_num);
        row.append(new_input);

        var new_delete = base_pair.children().eq(2).clone();
        new_delete.children().first().children().attr('id', '{{ widget.name }}_' + num_pairs + '_delete');
        row.append(new_delete);

        pairs.append(row);
        num_pairs++;
    });
</script>
