<div id="id_{{widget.name}}" class="card">
    {% comment %} <input type="hidden" id="id_agg_{{widget.name}}" name="agg_{{widget.name}}" value="[]"> {% endcomment %}
    <div id="{{widget.name}}_strings" class="card-body">
        {% for subwidget in widget.subwidgets %}
        <div class="mb-2">
            {% include "django/forms/widgets/input.html" with widget=subwidget %}
        </div>
        {% endfor %}
    </div>
    <div class="card-footer">
        <a><button id="{{ widget.name }}_add_string" type="button" class="btn btn-primary float-right"><i class="fa fa-plus mr-1"></i>Add</button></a>
    </div>
</div>


<script type='text/javascript' language='javascript'>
    $("#{{ widget.name }}_add_string").on('click', function() {
        // Create new input element and append it to the input container
        new_input_num = document.getElementById("{{widget.name}}_strings").children.length
        new_elem_type = document.getElementById("{{widget.name}}_strings").children[0].children[0].type
        new_elem = document.createElement('div')
        new_elem.setAttribute('class', 'mb-2')
        new_elem.innerHTML = '<input type="' + new_elem_type + '" name="{{ widget.name }}_0" class=" form-control" id="id_{{ widget.name }}_0" spellcheck="false" data-ms-editor="true">'.replaceAll("{{ widget.name }}_0", "{{ widget.name }}_" + new_input_num);
        document.getElementById('{{ widget.name }}_strings').appendChild(new_elem);
    });
</script>