/*
Bootstrap overrides
*/
@import 'helpdesk-customize.css';

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.thumbnail.filterBox {
    display: none;
    float: left;
    border: solid #ccc 1px;
    padding: 10px;
    margin: 4px;
    max-width: 24%;
    min-height: 200px;
}

.thumbnail.filterBoxShow {
    display: block;
}

.filterBox label {
    clear: both;
    display: block;
}

.filterBox .filterHelp {
    color: #aaa;
    font-size: 0.8em;
    clear: both;
}

#searchtabs {margin-bottom: 20px;}

.row_tablehead, table.table caption {background-color: #dbd5d9;}
table.table caption {
    padding-left: 2em; 
    line-height: 2em; font-weight: bold;
}
table.ticket-stats caption {color: #fbff00; font-style: italic;}
table.ticket-stats tbody th, table.ticket-stats tbody tr {padding-left: 20px}

.errorlist {list-style: none;}
.errorlist {padding: 0;}
.has-error .input-group input, .has-error .input-group select, .has-error .input-group textarea {border-color: #b94a48}

#helpdesk-nav-collapse #searchform {
    padding-top: 0;
}
#ticket-description {background-color: #FCF8E3;}
.followup.well {background-color: #f4f5ff;}
/*
Add your custom styles here
*/
#footer {
    border-top: 2px solid #AAAAAA;
    margin-top: 20px;
    padding: 10px 0;
}
#helpdesk-body {padding-top: 100px;}
img.brand {padding-right: 30px;}

div.card-body img {
	max-width: 900px;
}

pre {
	background: #eee;
	padding: 1em;
	border: 1pt solid white;
}
